<f:set var="x">
    abc
</f:set>

<f:set var="y" params="a">
    abc%{a}%
</f:set>

<f:set var="z">
    <f:set var="uuu">ala ma kota hehe</f:set>
    <f:y a="uuu"/>
</f:set>

<f:set var="getBikFilteredNodes" params="val,treeIds,noLinkedNodes">
    exec sp_filter_bik_nodes %{val}%, 'tree_id in (%{treeIds}%)', %{noLinkedNodes ? 'linked_node_id is null' : null}%
</f:set>

<f:set var="aqq">aqq tutaj!</f:set>
