<!--%

id - id pytania
aId - id odpowiedzi
cId - id komentarza
cM - tryb:
      0 lub nic - standardowy - pokaż pytanie, ew. spozycjonuj odpowiedź / komentarz
                 (jak komentarz to rozwiń)
      1 - rozwiń komcie (pod pytaniem lub odpowiedzią, zależy co podane) / dodawanie komentarza
      2 - dodawanie do moderacji
      3 - dodawanie odpowiedzi
p - strona odpowiedzi, wyklucza się z pozycjonowaniem po aId i cId dla odpowiedzi
m - sort mode odpowiedzi

%-->

%{setCacheSubKeys(pageCacheKey, ['q:' + params.getInt('id')])}%


<f:set var="oneQ" expr="service.getOneQuestionData(new simplelib.MapHelper(['questionId' : params.getInt('id')]))"/>

<f:if cond="oneQ.langId != getContentLangId()">
    %{sendRedirect(makeSelfUrl(['lang':service.getLangBean(oneQ.langId).countryCode]))}%
</f:if>

<f:set var="currSortMode" expr="service.answersSortMode(params.getString('m'))"/>

<f:set var="cM" expr="params.getInteger('cM')"/>

%{service.increaseQuestionViewCount(oneQ.id)}%

<f:set var="pageTitle" expr="pageTitle + ' ' + oneQ.subject"/>

<f:set var="cId" expr="params.getInteger('cId')"/>

<f:set var="addCom" expr="cM == 1" />

<f:set var="wantToAddCom" expr="addCom" />

<!--%
[wantToAddCom=%{wantToAddCom}%]
%-->

<f:if cond="addCom">
    <f:if cond="service.sessionData.userName == null">
        <f:set var="addCom" expr="false" />
        %{addErrorMsg(getText('mustBeLoggedToAddCom'))}%
    </f:if>
</f:if>

<f:set var="addMod" expr="cM == 2" />
<f:set var="wantToAddMod" expr="addMod" />

<f:if cond="addMod">
    <!--%<p>dupa1234 i  aId: %{params.getInteger('aId')}% i addMod: %{addMod}%</p>%-->
    <f:if cond="service.sessionData.userName == null">
        <f:set var="addMod" expr="false" />
        %{addErrorMsg(getText('mustBeLoggedToAddMod'))}%
        <!--%{addErrorMsg(getText('loginRequest.msg'))}%-->
    </f:if>
</f:if>

<f:set var="pageSize" expr="5"/>

<f:set var="pageNum" expr="null"/>

<f:set var="aId" expr="null"/>

<f:if cond="cId != null">
    <f:set var="comment" expr="service.getCommentById(cId)"/>
    <f:if cond="comment.commentedObjectKind == 'a'">
        <f:set var="aId" expr="comment.commentedObjectId"/>
    </f:if>
</f:if>

<f:if cond="aId == null">
    <f:set var="aId" expr="params.getInteger('aId')"/>
</f:if>

<f:if cond="aId != null">
    <f:set var="pageNum" expr="service.findPageNumByAnswerId(oneQ.id, aId, currSortMode, pageSize)"/>
</f:if>

<f:if cond="pageNum == null">
    <f:set var="pageNum" expr="simplelib.BaseUtils.fixPageNumByCountAndPageSize(params.getInt('p'), pageSize, oneQ.answerCount)"/>
</f:if>

<f:set var="showAllCom" expr="(cM > 0 && cM <= 2) || cId != null" />

<f:if cond="cId != null">
    <f:set var="formObjKind" expr="'c'"/>
    <f:set var="formObjId" expr="cId"/>
</f:if><f:elseif cond="aId != null">
    <f:set var="formObjKind" expr="'a'"/>
    <f:set var="formObjId" expr="aId"/>
</f:elseif><f:else>
    <f:set var="formObjKind" expr="'q'"/>
    <f:set var="formObjId" expr="oneQ.id"/>
</f:else>


<!-- początek kontenera treści -->
<div class="cal2">
    <div class="cal">



        <!--%<div>error, error! <a href="%{urlMaker.error('99', null, null)}%">tu jest error!</a></div>%-->
        <!-- początek lewej kolumny -->
        <div class="lewa">

            <div class="oqTitle">
                <h2>Pytanie<!--<%<a href="%{makeUrl('oneQuestion', ['id' : oneQ.id])}%">%{oneQ.subject}%</a>%>--></h2>
            </div>
            <!--%<f:showMessages_mobile/>%-->

            <!--<%
                        <div class="menu_pyt questTitle">
                            <span class="head"><a href="%{makeUrl('oneQuestion', ['id' : oneQ.id])}%">%{oneQ.subject}%</a></span>
                        </div>
            %>-->

            <div class="bez_lini quest">
                <div class="ocena glosuj">
                    <f:insert expr="getGlobal('vote_naq')" rating="#oneQ.rating" voteCount="#oneQ.voteCount" objId="#oneQ.id" objKind="'q'" questionId="#oneQ.id" voterId="service.sessionData.userId" currSortMode="#currSortMode" exprLang="ognl"/>
                    <!--<%<f:insert expr="getGlobal('subscribeBtn_naq')" oneQ="oneQ"/>%>-->
                </div>

                <h1><a href="%{makeUrl('oneQuestion', ['id' : oneQ.id])}%">%{oneQ.subject}%</a></h1>
                <f:insert expr="getGlobal('userIntro_naq')" uib="service.getUserIntroBean(oneQ.userId, getContentLangId())" pubDate="oneQ.dateAdded"/>

                <div class="pp">

                    <div class="tresc">
                        %{formatAnyBody(oneQ.body, oneQ.isRichtextBody)}%
                    </div>

                    <div class="pod_pyt">
                        <div class="tags">
                            <f:insert expr="getGlobal('tagi_mobile')" tags="oneQ.tags" />
                        </div>

                    </div>

                    <span class="szare">
                        <!--<%<f:if cond="oneQ.hasPaidAnswer">%{getText('compo.introQuestion.paidAnswer')}%<s>|</s></f:if>%>-->
                        <s>|</s>
                        <a class="mod" href="%{makeSelfUrl(['cM':2, 'cId':null, 'aId':null])}%#addMod" title="%{getText('hint.flag')}%">zgłoś do moderacji (%{service.getModerationRequestVoteCount(oneQ.id, 'q')}%)</a>
                        <s>|</s>
                        <!--<% edycja - start %>-->

                        <f:if cond="service.canEditQuestion(oneQ.id)">
                            <a href="%{makeUrl('editQuestion', ['questionId':oneQ.id])}%">edytuj</a><s>|</s>
                        </f:if>
                        <f:if cond="oneQ.editorId != null && oneQ.revision > 1">
                            ostatnia edycja: <a href="%{makeUrl('questionHistory', ['questionId':oneQ.id])}%">%{getShortTimeAgo(oneQ.dateEdited)}%</a>
                            <f:if cond="oneQ.editorId != oneQ.userId">
                                <f:set var="editorUserBean" expr="service.getUserById(oneQ.editorId)"/>
                                przez <a href="%{makeUrl('userProfile', ['userId':oneQ.editorId])}%">%{editorUserBean.login}%</a>
                                <!--<%<f:insert expr="getGlobal('userIntro_mobile')" oneU="service.getUserLangBean(oneQ.editorId, oneQ.langId)" login="editorUserBean.login" avatar="editorUserBean.avatar" />%>-->
                                <!--<%<f:insert expr="getGlobal('userIntro_naq')" uib="service.getUserIntroBean(oneQ.editorId, getContentLangId())" pubDate="null"/>%>-->
                            </f:if>
                            <s>|</s>
                        </f:if>

                        <!--<% edycja - koniec %>-->

                        <!--<% dodawanie tagów - start %>-->

                        <f:if cond="service.canAddTagsToQuestion(oneQ.id)">
                            <a href="%{makeSelfUrl(['cM':4, 'cId':null, 'aId':null])}%#addTags">dodaj tagi</a>
                            <s>|</s>
                        </f:if>

                        <!--<% dodawanie tagów - koniec %>-->

                    </span>

                    <f:comments_naq objId="oneQ.id" objKind="'q'" questionId="oneQ.id" showAllCom="showAllCom && aId == null" addMod="addMod" addCom="addCom" aId="aId" out:thisComsMode="thisComsMode" cId="cId"/>

                </div>

                <f:log kind="wwLog">[thisComsMode=%{thisComsMode}%]</f:log>

                <f:set var="formHere" expr="formObjKind == 'q' || thisComsMode"/>

                <f:addCommentForm_naq objId="formObjId" objKind="formObjKind" 
                                      addCom="addCom && formHere"
                                      showAllCom="showAllCom && formHere" wantToAdd="wantToAddCom && formHere" />
                <f:addToModerationForm_naq objId="formObjId" objKind="formObjKind" addMod="addMod && formHere"
                                           wantToAdd="wantToAddMod && formHere"/>

                <f:addTagsForm_naq questionId="oneQ.id" show="cM==4" wantToAdd="wantToAddMod && formHere"/>

            </div>

            <ul class="menu_pyt nols">
                <span class="head">Odpowiedzi <b>(%{oneQ.answerCount}%)</b></span>

                <f:for var="sortMode" expr="answerSortModes">
                    <li %{sortMode==currSortMode ? "class=active" : ""}%>
                        <a href="%{makeSelfUrl(['m':sortMode.toString(), 'p':0 ])}%">
                            %{getText('answerSortMode.' + sortMode.toString())}%
                        </a></li>
                </f:for>
                <!--%<li class="active"><a href="/">kolejności</a></li>
                <li><a href="/">oceny</a></li>%-->
                <li class="sort">sortuj wg.</li>
            </ul>


            <ol class="nols answers">
                <f:set var="answers" expr="service.getAnswersForQuestionData(new simplelib.MapHelper(['questionId':oneQ.id, 'sortMode':currSortMode, 'pageNum':pageNum, 'pageSize':pageSize]))"/>
                <f:set var="totalObjCnt" expr="oneQ.answerCount"/>
                <f:for var="answer" expr="answers">
                    <li id="a%{answer.id}%" class="oneAnswer">
                        <div class="ocena glosuj">
                            <f:insert expr="getGlobal('vote_naq')" rating="#answer.rating" voteCount="#answer.voteCount" objId="#answer.id" objKind="'a'" questionId="#oneQ.id" voterId="service.sessionData.userId" currSortMode="#currSortMode" exprLang="ognl"/>
                            <!--<%<a href=""></a>
                            <i>6<span>ocena</span></i>
                            <span>głosów: 13</span>
                            <a href="" class="minus"></a>%>-->
                            <!--  dla najlepszego dodaj co poniższego <a> class="act" -->

                            <!--
                                <div class="naj"><a href="/"></a></div>
                            -->

                        </div>


                        <div class="pp">
                            <div class="tresc odpNnn">
                                %{formatAnyBody(answer.body, answer.isRichtextBody)}%
                            </div>
                            <f:insert expr="getGlobal('userIntro_naq')" uib="service.getUserIntroBean(answer.userId, getContentLangId())" pubDate="answer.dateAdded"/>


                            <div class="pod_pyt">
                                <s>|</s>
                                <a class="mod" href="%{makeSelfUrl(['cM':2, 'cId':null, 'aId':answer.id])}%#addMod" title="%{getText('hint.flag')}%">zgłoś do moderacji (%{service.getModerationRequestVoteCount(answer.id, 'a')}%)</a>
                                <s>|</s>
                                <a href="%{makeUrlToQnaObj('a', answer.id)}%">link</a>
                                <s>|</s>
                                <!--<% edycja - start %>-->

                                <f:if cond="service.canEditAnswer(answer.id)">
                                    <a href="%{makeUrl('editAnswer', ['answerId':answer.id])}%">edytuj</a><s>|</s>
                                </f:if>
                                <f:if cond="answer.editorId != null && answer.revision > 1">
                                    ostatnia edycja: <a href="%{makeUrl('answerHistory', ['answerId':answer.id])}%">%{getShortTimeAgo(answer.dateEdited)}%</a>
                                    <f:if cond="answer.editorId != answer.userId">
                                        <f:set var="editorUserBean" expr="service.getUserById(answer.editorId)"/>
                                        przez <a href="%{makeUrl('userProfile', ['userId':answer.editorId])}%">%{editorUserBean.login}%</a>
                                        <!--<%<f:insert expr="getGlobal('userIntro_mobile')" oneU="service.getUserLangBean(answer.editorId, oneQ.langId)" login="editorUserBean.login" avatar="editorUserBean.avatar" />%>-->
                                    </f:if>
                                    <s>|</s>
                                </f:if>

                                <!--<% edycja - koniec %>-->


                            </div>

                            <f:comments_naq objId="answer.id" objKind="'a'" questionId="oneQ.id" showAllCom="showAllCom && aId == answer.id" addMod="addMod" addCom="addCom" aId="aId" out:thisComsMode="thisComsMode" cId="cId"/>

                        </div>

                    <f:set var="formHere" expr="formObjKind == 'a' && formObjId == answer.id || thisComsMode"/>
                    <f:addCommentForm_naq objId="formObjId" objKind="formObjKind" addCom="addCom && formHere"
                                          showAllCom="showAllCom && formHere"
                                          wantToAdd="wantToAddCom && formHere" />
                    <f:addToModerationForm_naq objId="formObjId" objKind="formObjKind" 
                                               addMod="addMod && formHere"
                                               wantToAdd="wantToAddMod && formHere"/>

                    </li>

                </f:for>

            </ol>

            <f:if cond="totalObjCnt > 5">
                <f:paginacjaEx pageNum="pageNum" pageSize="pageSize" pageNumParamName="'p'" totalObjCnt="totalObjCnt"/>
            </f:if>
            <!--%<div class="strony"><a class="krop">Strony:</a><a class="active" href="">1</a><a href="">2</a><a class="krop">...</a><a href="">4</a><a href="">5</a><a class="krop">...</a><a href="">12</a></div>%-->

            <f:if cond ="!addCom && !addMod">
                <f:addAnswerToQuestionForm oneQ="oneQ" />
            </f:if><f:else>

            </f:else>


        </div>
        <!-- koniec lewej kolumny -->

        <div class="prawa">
            <!-- początek prawej kolumny -->

            <div class="addAns">
                <a href="#addAns">Odpowiedz</a>
            </div>

            <f:rightPanelOneQuestion oneQ="oneQ"/>
            <div class="oqcr">
                <!--<% najlepsza odpowiedź - start %>-->

                <!--<%
                <f:if cond="oneQ.bestAnswerAuthor != null">
                                    najlepsza odpowiedź dodana przez: <a href="">%{oneQ.bestAnswerAuthor}%</a>
                </f:if>
                %>-->
                <!--<% najlepsza odpowiedź - koniec %>-->

                <h6>Udostępnij</h6>
                <!--<% Twitnij - start %>-->

                <f:if cond="isUserTwitterEnabled()">
                    <a href="%{makeUrl('action_twPublishQuestion', ['questionId':oneQ.id])}%">
                        <img src="%{makeResourceUrl('newimages/Twitter_18x18.png')}%" alt="%{getText('page.oneQuestion.tw.publish')}%" title="%{getText('page.oneQuestion.tw.publish')}%"/>
                    </a>
                    <f:if cond="params.getString('twResult') != null">
                        <f:if cond="params.getBool('twResult')">
                            %{getText('page.oneQuestion.tw.publishSuccess')}%
                        </f:if><f:else>
                            %{getText('page.oneQuestion.tw.publishFailure')}%
                        </f:else>
                    </f:if>

                </f:if><f:else>
                    <a target="_blank" href="%{makeUrl('action_twPublishQuestionNoApi', ['questionId':oneQ.id])}%">
                        <img src="%{makeResourceUrl('newimages/Twitter_18x18.png')}%" alt="%{getText('page.oneQuestion.tw.publish')}%" title="%{getText('page.oneQuestion.tw.publish')}%"/>
                    </a>
                </f:else>

                <!--<% Twitnij - koniec %>-->

                <!--<% Facebook - start %>-->

                <f:set var="fbPublishStatus" expr="null" />
                <f:if cond="params.getBool('fbAuth')">
                    <f:set var="hasPermission" expr="service.fbHasPublishStreamPermission()"/>
                    <f:if cond="hasPermission">
                        <f:set var="result" expr="fbPublishQuestion(oneQ.id)"/>
                        <f:if cond="result == null">
                            <f:set var="fbPublishStatus" expr="'fail'" />
                        </f:if><f:else>
                            <f:set var="fbPublishStatus" expr="'success'" />
                        </f:else>
                    </f:if><f:else>
                        <f:set var="fbPublishStatus" expr="'authRequired'" />
                        <a href="%{service.fbPublishStreamPermissionUrl()}%" target="_blank">%{getText('page.oneQuestion.FB.authorized')}%</a>
                        %{getText('page.oneQuestion.FB.authorized.txt')}%<br/>
                    </f:else>
                </f:if>
                <f:if cond="service.sessionData.userName != null ">
                    <f:if cond="'failed'.equals(fbPublishStatus)">
                        %{getText('page.oneQuestion.FB.failedToPublish.msg')}%
                    </f:if><f:elseif cond="'success'.equals(fbPublishStatus)">
                        %{getText('page.oneQuestion.FB.publishSuccess')}%
                    </f:elseif><f:else>
                        <a href="%{makeUrl('action_fbPublish', ['next': makeSelfRemoteUrl(['fbAuth':true])])}%">
                            <!--<%%{getText('page.oneQuestion.FB.publishOnFacebook')}%%>--> <img src="%{makeResourceUrl('newimages/FaceBook_18x18.png')}%" alt="Opublikuj na FaceBook'u" />
                        </a>
                    </f:else>
                </f:if>

                <!--<% Facebook - koniec %>-->


                <!--<% Grupy opcje - start %>-->
                <h6>Grupy</h6>
                <f:if cond="service.sessionData.userId != null">
                    <!-- Pytanie dodane do:-->
                    <f:for var="hostAppBean" expr="service.readonlyHostApps(oneQ.id)">

                        <f:if cond="hostAppBean.haType==1">
                            <!--<% Pytanie jest dodane do hosta %>-->
                            <b><a href="%{makeUrl('action_setGroup', ['grp':hostAppBean.deaccentedName])}%">
                                    %{hostAppBean.url}%
                                </a></b><br/>
                        </f:if>
                        <f:if cond="hostAppBean.haType==2">
                            <!--<% Pytanie jest dodane do grupy %>-->
                            <b><a href="%{makeUrl('action_setGroup', ['grp':hostAppBean.deaccentedName])}%">
                                    %{hostAppBean.key1}%
                                </a></b><br/>
                        </f:if>
                    </f:for>
                    <f:for var="hostAppBean" expr="service.addableHostApps(oneQ.id)">

                        <f:if cond="hostAppBean.haType==1">
                            <a title="Dodaj pytanie do hosta %{hostAppBean.url}%" href="%{makeUrl('action_addHostAppQuestion', ['hostAppId':hostAppBean.id, 'questionId':oneQ.id])}%">
                                <img src="newimages/add-12.png" alt="Dodaj pytanie do hosta %{hostAppBean.url}%"/><!--<%Dodaj%>--></a>
                            <!--<%pytanie do hosta %>-->
                            <b><a href="%{makeUrl('action_setGroup', ['grp':hostAppBean.deaccentedName])}%">
                                    %{hostAppBean.url}%
                                </a></b><br/>
                        </f:if>
                        <f:if cond="hostAppBean.haType==2">
                            <a title="Dodaj pytanie do grupy %{hostAppBean.key1}%" href="%{makeUrl('action_addHostAppQuestion', ['hostAppId':hostAppBean.id, 'questionId':oneQ.id])}%">
                                <img src="newimages/add-12.png" alt="Dodaj pytanie do grupy %{hostAppBean.key1}%"/><!--<%Dodaj%>--></a>
                            <!--<%pytanie do grupy %>-->
                            <b><a href="%{makeUrl('action_setGroup', ['grp':hostAppBean.deaccentedName])}%">
                                    %{hostAppBean.key1}%
                                </a></b><br/>
                        </f:if>
                    </f:for>
                    <f:for var="hostAppBean" expr="service.removableHostApps(oneQ.id)">

                        <f:if cond="hostAppBean.haType==1">
                            <a title="<!--%${oneQuestion.usunPytanieZHosta=}$%-->Usuń pytanie z hosta %{hostAppBean.url}%" href="%{makeUrl('action_removeHostAppQuestion', ['hostAppId':hostAppBean.id, 'questionId':oneQ.id])}%">
                                <img src="newimages/delete-12.png" alt="Dodaj pytanie do grupy %{hostAppBean.key1}%"/><!--<%Usuń%>--></a>
                            <!--<%pytanie z hosta%>-->
                            <b><a href="%{makeUrl('action_setGroup', ['grp':hostAppBean.deaccentedName])}%">
                                    %{hostAppBean.url}%
                                </a></b><br/>
                        </f:if>
                        <f:if cond="hostAppBean.haType==2">
                            <a  title="Usuń pytanie z grupy %{hostAppBean.key1}%" href="%{makeUrl('action_removeHostAppQuestion', ['hostAppId':hostAppBean.id, 'questionId':oneQ.id])}%">
                                <img alt="Usuń pytanie z grupy %{hostAppBean.key1}%" src="newimages/delete-12.png" alt="Dodaj pytanie do grupy %{hostAppBean.key1}%"/><!--<%Usuń%>--></a>
                            <!--<%pytanie z grupy %>-->
                            <b><a href="%{makeUrl('action_setGroup', ['grp':hostAppBean.deaccentedName])}%">
                                    %{hostAppBean.key1}%
                                </a></b><br/>
                        </f:if>
                    </f:for>
                </f:if>
                <f:else><!--Pytanie dodane do:-->
                    <f:for var="hostAppBean" expr="service.getHostAppsByQuestion(oneQ.id)">

                        <!--<% Pytanie jest dodane do %>-->
                        <f:if cond="hostAppBean.haType==1">
                            <!--<% hosta %>-->
                            <b><a href="%{makeUrl('action_setGroup', ['grp':hostAppBean.deaccentedName])}%">
                                    %{hostAppBean.url}%
                                </a></b><br/>
                        </f:if>
                        <f:if cond="hostAppBean.haType==2">
                            <!--<% grupy %>-->
                            <b><a href="%{makeUrl('action_setGroup', ['grp':hostAppBean.deaccentedName])}%">
                                    %{hostAppBean.key1}%
                                </a></b><br/>
                        </f:if>
                    </f:for>
                </f:else>

                <!--<% Grupy opcje - koniec %>-->

            </div>
            <br clear="all"/>

            <h6>Podobne pytania</h6>
            <f:set var="fqs" expr="service.findSimilarQuestions(oneQ.langId,
                   oneQ.tags, oneQ.subject, 0, 10)"/>
            <f:set var="cnt" expr="0"/>
            <f:for var="fq" expr="fqs.beans">
                <f:if cond="fq.id != oneQ.id">
                    <div>
                        <a href="%{urlMaker.question(fq.id)}%"><b>%{fq.subject}%</b></a>
                    </div>
                    <f:set var="cnt" expr="cnt+1"/>
                </f:if>
            </f:for>
            <f:if cond="cnt == 0">
                <div>
                    <b>(Brak)</b>
                </div>
            </f:if>

            <br clear="all"/>

            <h6>Użytkownicy zainteresowani pytaniem</h6>
            <f:usersInterestedInTagsWithReasons tagIds="safeLogic.getTagIdsForQuestion(oneQ.id)"/>

            <f:rightPanelMain/>
            <!-- koniec prawej kolumny -->
        </div>  


    </div>
</div>

<f:set var="pageTitle" expr="oneQ.subject"/>

<!-- koniec kontenera treści  -->