Tree-editTreebody {
    font-family: Tahoma !important;
}

a img {
    border:0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

root {
    display: block;
}

.testStyle {
    color:red;
}

.centerAll {
    /*    margin:0 auto;*/
    clear: both;
    /*    width:1241px;*/
    /*min-width: 1113px;*/
    clear: both;

    /*    width: 100%;*/
    text-align: center;
}

.centerAllNoWidth {
    margin: 0 auto;
}

.grayNav {
    /*    background-color:#666;  :) */
    background-color: #fff;
    height: 32px; /* gora z 45*/
    padding: 0;
}

.blueNav {
    /*    background-color:#1f5c99;*/
    height: 30px; /* ww: było 61px */  /*gora*/
    background: url("../images/mainBgShadow30.gif") bottom left repeat-x;
    padding: 0;
    clear: both;
}

.gwt-SuggestBoxPopup {
    z-index: 800090;
}

.gwt-DisclosurePanel_header td a {
    color: #094F8B;
    /*    font:bold 12px Tahoma;*/
}

.gwt-DisclosurePanel_header{
    color: #094F8B;
    cursor: pointer;
    text-decoration: none;
    /*    font:bold 12px Tahoma;*/
    margin: 3px 0px;
}

.gwt-DisclosurePanel_header_news{
    color: #094F8B;
    cursor: pointer;
    text-decoration: none;
    /*    font:bold 12px Tahoma;*/
    margin: 3px 0px;
}

.blackNav {
    /*background-color:#1a1a1a;*/
    /*    background:url(../images/blackNavBg.gif) repeat-x top left; #F5F5F5*/
    background-color:#094f8a;
    height:24px; /*27px*/
    /*    padding:0 0 20px 0;*/
    /*  padding: 0 0 0 20px;*/
}

.szukaj4NaqNaq {
    float: right;
    margin: 5px 0 0 0;
    width: 216px; /* 110px;*/
    display: inline;
    position: relative;
    z-index: 999;
    /*    padding: 0 5px 0 0;*/
}

.szukaj4NaqNaq input.fieldfind {
    float: left;
    width:182px; /* 76px;*/
    height: 24px;
    border: none;
    background: url("../images/searchBg.gif") top left no-repeat;
    /*    padding: 0 5px;*/
    padding-right: 4px;
    margin: 0 2px;
    color: #094F8B;
    line-height: 24px;
    position: relative;
    z-index: 999;
}

.szukaj4NaqNaq input.gofind {
    float: left;
    background: url("../images/searchBtn.gif") top left no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    padding: 0px;
    margin: 0px;
    position: relative;
    z-index: 999;
}

.logoBox4NaqNaq {
    float:left;
    padding: 0 0 0 1px;  /*gora padding: 5px 0 5px 10px;  2px 0 2px 10px; */
    /*    height:53px;*/
    /*    width:146px;*/
}

.logoBox4NaqNaq h1 {
    color:#094f8d;
    font:24px/26px Arial;
    padding:5px 0 5px 20px;
    margin:0;
    /*    font-style: italic;*/
}

.witaj4NaqNaq {
    color: #8C8C8C;
    float: right;
    margin: 20px 0 0 0;
    height: 16px;
    display: inline;
    padding: 0 6px 0 0;
    width: 550px;
}

.witaj4NaqNaq a {
    color: #8C8C8C !important;
    /*
        color:#fff;
        font:bold 12px/12px Arial;
        margin:0 6px 0 0;
    */
}

.witaj4NaqNaq a:hover {
    text-decoration:none;
}
.menu4NaqNaq{
    /*vertical-align:middle;*/
    padding:0;
    float:left;
    /*    height:35px;*/
    height:30px; /*gora*/
    display:inline;
    /*    width:100%;*/
    /*    clear:both;*/
    /*    margin:7px 0px 4px 0px;  ww: było 13px 0*/
    margin:0;
}

.menu4NaqNaq li{
    float:left;
    list-style:none;
    margin:0 -1px 0 -1px;
    padding: 0 0 0 10px;
}

.menu4NaqNaq li a{
    float:left;
    /*    padding:7px 6px;*/
    /*padding:0 0 0 9px;*/
    padding:0 10px 0 0;
    margin:0;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-weight:normal;
    font-size:15px;
    color:#fff;
    /*    height:19px;*/
    height:30px;  /* gora    height:45px;*/
    line-height:33px; /*  40px  line-height:50px;*/
    text-shadow:0 -1px 0px rgb(143,173,209);
    display: block;
}
.menu4NaqNaq li:hover, .menu4NaqNaq li.active {
    /*    background:url("../images/button_over.gif") repeat-x;*/
    background:url("../images/mainTab30.gif") no-repeat bottom left;
    padding:0 0 0px 10px;
}
.menu4NaqNaq li:hover a{
    /*    background:url("../images/button_over.gif") repeat-x;*/
    background:url("../images/mainTab30.gif") no-repeat bottom right;
    padding:0 10px 0 0;
}

.menu4NaqNaq li a.active{
    background-color:#1f5c99;
    /*    background:url("../images/button_over.gif") repeat-x;*/
    background:url("../images/mainTab30.gif") no-repeat bottom right;
    padding:0 10px 0 0;
}

.menu4NaqNaq li.zadaj4NaqNaq {
    float:right;
    background-color:#009045;
    border:1px solid #fff;
    margin:0px;

}
.menu4NaqNaq li.zadaj4NaqNaq a:hover, .menu4NaqNaq li.zadaj4NaqNaq a.active {
    background-color:#009045;
    background:url("../images/button_green.png") repeat-x;

}
.subMenu {
    margin:4px 0 0 9px; /*7px*/
    padding:0;
    float:left;
    overflow:visible;
    position: absolute;
}
.subMenu li{
    list-style:none;
    float:left;
    margin:0 20px 0 0;
    overflow:visible;
}
.subMenu li.active{

}
.subMenu li a{
    float:left;
    color:#acc3e2;
    font: bold 14px/14px Arial;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    /*    height:20px;*/
    z-index:9999;
    overflow:visible;
    text-shadow:#444 0 1px 0;
}

.subMenu li.active a, .subMenu li a:hover{
    /*    background:url(../images/arrowSubMenu.gif) no-repeat bottom center;
        overflow:visible;*/
    text-decoration: underline;
    color:#fff;
}


.grayNavFooter {
    background-color:#666; /* :) */
    height:98px;
}

.blueNavFooter {
    background-color:#1f5c99;
    height:3px;
}

.blackNavFooter {
    background-color:#1a1a1a;
    height:27px;
}

.blackNavFooter a {
    color:#FFFFFF;
    float:left;
    font:12px/12px Arial;
    padding:7px 0 0 0;
}

span.h3span {
    color: black;
    font-family: Arial,Verdana,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

h2 {
    margin: 4px 0px 4px 0px;
}

.gwt-PopupPanelGlass {
    z-index: 800086;
}

.gwt-DialogBox {
    z-index: 800087;
}


#test-id {
    color:red;
}

.test-class {
    color:blue;
}

div.zeroBtn {
    /*padding:0;*/
    margin:0;
    border:0 !important;
    cursor: pointer;
    background: none !important;
}

.zeroAll {
    margin:0;
    padding:0;
}

h3 {
    margin:0;
    padding:0;
}

.border {
    border: 1px solid #D0E4F6;
}

.lblPadding {
    margin:0;
    padding:3px;
}

.btnPointer {
    cursor: pointer;
}

.linkPointerAndColor {
    color: #6100C6;
    cursor: pointer;
}

.dotBorderTop {
    /*    border-style: dotted;*/
    border: 1px dotted #A7ABB4;
    /*    border-color: #A7ABB4;*/
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.lblPadding-up-disabled, .zeroAll-up-disabled {
    /*  border: 1px outset #ccc;*/
    cursor: default;
    opacity: .5;
    filter: alpha(opacity=40);
    zoom: 1;
}

.noteTitle, .attTitle, .artTitle, .attrTitle {
    padding: 0 10px 0 0;
}

.noteAuthor
{
    padding:5px 0;
}
.comAuthor,.dqc-request {
    padding:3px 10px;
}

.brak {
    font-size: x-small;
    color: #7C7C7C;
    /*    font-weight: bold;*/
    /*    height: 228px;*/
}

.isHiddenClass {
    display: none;
}

br.clearAll {
    /*margin-top: -20px;*/
}

.artLink {
    color: #0000AA;
    cursor: pointer;
}

.userLink {
    cursor: pointer;
}

.notificationPanel {
    border: solid;
    border-width: 3px;
    font-weight: bold;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*    float: none;*/
    /*    padding-left: 4px;
        padding-right: 4px;*/
    /*    margin-right: 4px;*/
    /*    margin-top: -1px;*/
    /*    position: relative;*/
    padding: 0 2px;
    line-height: 20px;
    margin: 0;
}

.infoPanel {
    background-color: #36e97d;
    border-color: #36e97d;
    text-align:center;
}

.errorPanel {
    background-color: #da4545;
    border-color: #da4545;
    text-align:center;
}

.infoPanel .error {
    /*    bo*/
}

.mbFloat {
    float: left;
}

.spacing {
    margin-bottom: 4px;

}

.defSpacing {
    padding:5px;
}

.werSpacing {
    padding:5px;
}

/*
div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab,
div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner {
    background:url(../images/tabgrey.gif) no-repeat left top;
    color:#000;
    height: 25px;
}
div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected,
div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected div.gwt-TabLayoutPanelTabInner,
div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover,
div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover div.gwt-TabLayoutPanelTabInner {
    background:url(../images/tabblue.gif) no-repeat left top;
    color:#fff;
    height: 25px;
}

div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab,
div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover,
div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected {
    padding:0 0 0 10px;
    margin:0 0 0 6px;
}

div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected div.gwt-TabLayoutPanelTabInner,
div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner,
div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover div.gwt-TabLayoutPanelTabInner {
    background-position: right top;
    padding:2px 10px 2px 0;
    margin:0;
    display: block;
}
*/

#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab,
#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner {
    background:url("../images/tabgrey.gif") no-repeat left top;
    color:red;
    height: 25px;
}
#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected,
#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected div.gwt-TabLayoutPanelTabInner,
#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover,
#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover div.gwt-TabLayoutPanelTabInner {
    background:url("../images/tabblue.gif") no-repeat left top;
    color:blue;
    height: 25px;
}

#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab,
#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover,
#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected {
    padding:0 0 0 10px;
    margin:0 0 0 6px;
}

#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected div.gwt-TabLayoutPanelTabInner,
#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner,
#testTabLookId2.testTabLook2 div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover div.gwt-TabLayoutPanelTabInner {
    background-position: right top;
    padding:2px 10px 2px 0;
    margin:0;
    display: block;
}
/**/

#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab,
#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner {
    background:url("../images/tabgrey.gif") no-repeat left top;
    color:#000;
    height: 25px;
}
#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected,
#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected div.gwt-TabLayoutPanelTabInner,
#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover,
#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover div.gwt-TabLayoutPanelTabInner {
    background:url("../images/tabblue.gif") no-repeat left top;
    color:#fff;
    height: 25px;
}

#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab,
#testTabLookId div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover,
#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected {
    padding:0 0 0 10px;
    margin:0 0 0 6px;
}

#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected div.gwt-TabLayoutPanelTabInner,
#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner,
#testTabLookId.testTabLook div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover div.gwt-TabLayoutPanelTabInner {
    background-position: right top;
    padding:2px 10px 2px 0;
    margin:0;
    display: block;
}

#testTabLookId2.testTabLook2 .gwt-TabLayoutPanelContent {
    border-color: #000;
    border-style: solid;
    border-width: 3px 2px 2px;
    overflow: hidden;
    padding: 6px;
}

#testTabLookId.testTabLook .gwt-TabLayoutPanelContent {
    border-color: #92c1f0;
    border-style: solid;
    border-width: 3px 2px 2px;
    overflow: hidden;
    padding: 6px;
}

.OneKeywordWidget {
    float: left;
}

.labelLink {
    cursor: pointer;
    color: #094f8b;
    /*    float: right;*/
    margin:0 0 0 10px;
    border-left: dotted 1px #094f8b;
    padding: 0 0 0 5px;
    display: inline;
}


.labelLinkWWBeanGridPaper {
    cursor: pointer;
    color: #094f8b;
    /*    float: right;*/
    margin:0 3px 0 3px;
    border: dotted 1px #094f8b;
    padding: 2px;
    display: inline;
}

.labelLinkWW {
    cursor: pointer;
    color: #094f8b;
    /*    float: right;*/
    margin:0 5px 0 5px;
    border: dotted 1px #094f8b;
    padding: 2px;
    display: inline;
}

a.labelLinkWW:hover {
    cursor: pointer;
    text-decoration: underline;
}

a.labelLink:hover {
    cursor: pointer;
    text-decoration: underline;
}
#innerTabId.innerTab table.gwt-TabBar {
    background: url("../images/innerTabBg33.gif") repeat-x left top;
    height: 33px;
    font-size: 11px;
    /*    margin-top: 1px;zmiany 21.03*/
    position: relative;
    overflow: hidden;
    /*    padding: 0 0 10px 0px;*/
}

#innerTabId.innerTab div.gwt-TabBarItem,
#innerTabId.innerTab div.gwt-TabBarItem .gwt-HTML{
    background-color: transparent;
    color:#ACC3E2;
    height: 33px;
    /*    line-height: 28px;*/
    font-weight: normal;
    font-size: 11px;
}

#innerTabId.innerTab div.gwt-TabBarItem-selected,
#innerTabId.innerTab div.gwt-TabBarItem:hover,
#innerTabId.innerTab div.gwt-TabBarItem-selected .gwt-HTML,
#innerTabId.innerTab div.gwt-TabBarItem:hover .gwt-HTML {
    background:url("../images/innerTabn33.gif") no-repeat left top;
    color:#094f8b;
    height: 33px;
    font-size: 11px;
}

#innerTabId.innerTab div.gwt-TabBarItem .gwt-HTML,
#innerTabId.innerTab div.gwt-TabBarItem-selected .gwt-HTML,
#innerTabId.innerTab div.gwt-TabBarItem:hover .gwt-HTML{
    background-position: right top;
    padding: 2px 8px 0px 0px;
    margin-right: -8px;
    display: block;
    font-size: 11px;
}

#innerTabId.innerTab div.gwt-TabBarItem-selected,
#innerTabId.innerTab div.gwt-TabBarItem:hover,
#innerTabId.innerTab div.gwt-TabBarItem {
    padding: 0px 0 0 8px;
    font-size: 11px;
    margin-left: -8px;
    margin-right: 16px;
}

#innerTabId.innerTab div.gwt-TabPanelBottom{
    border: none;
    overflow: hidden;
    padding: 0px;
    font-size: 11px;
    /*     margin: 0px 0px 15px 0px;*/
}
/*
#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab,
#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner {
    background-color: transparent;
    color:#ACC3E2;
    height: 46px;
    line-height: 46px;
    font-weight: normal;
}
#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected,
#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected div.gwt-TabLayoutPanelTabInner,
#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover,
#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover div.gwt-TabLayoutPanelTabInner {
    background:url(../images/innerTab.gif) no-repeat left top;
    color:#094f8b;
    height: 46px;
}

#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab,
#innerTabId div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover,
#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected {
    padding:0 0 0 15px;
    margin:0 0 0 6px;
}

#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab-selected div.gwt-TabLayoutPanelTabInner,
#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab div.gwt-TabLayoutPanelTabInner,
#innerTabId.innerTab div.gwt-TabLayoutPanelTabs div.gwt-TabLayoutPanelTab:hover div.gwt-TabLayoutPanelTabInner {
    background-position: right top;
    padding:2px 15px 2px 0;
    margin:0;
    display: block;
}

#innerTabId.innerTab div.gwt-TabLayoutPanelTabs {
    background: url(../images/innerTabBg.gif) repeat-x left bottom;
    height: 46px;

}

#innerTabId.innerTab .gwt-TabLayoutPanelContent {
    border: none;
    overflow: hidden;
    padding: 0px;
}*/

.edp-class {
    border: solid 1px #cddaeb;
    margin: 5px;
}
.qa-question {
    color: #333;
    font: normal 16px/18px Tahoma;
}

.qa-answer {
    color: #333;
}

.BizDef-Scroll{
    margin: 3px 4px 0px 4px;
}
.BizDef {
    padding:0px;
    /*    margin:4px;*/
    /*    margin: 3px 4px 0px 4px;   3px 4px 5px 4px;*/
    color:#094f8b;
    /* font-size: 0.8em;
     font-family: sans-serif;
      line-height: 1.5em;*/
    /*  font: normal 12px/18px sans-serif;*/
    font: normal 13px/19.2px sans-serif;
    width: 100%;
}

.BizDef-titleLbl {
    /*cursor: pointer;*/
    float: left;
    font: normal 16px/18px Tahoma;
    /*    width: 590px;*/
    padding-right: 15px;
    margin: 3px 4px 0px 4px;
}

.BizDef-titleLbl b {
    color: #333;
    font-weight: normal;
}

.BizDef-version {
    float: right;
    color: #7c7c7c;
    /*    width: 185px;*/
}
.BizDef-version b {
    color:#094f8b;
    font-weight: normal;
}
.BizDef-author {
    float: right;
    color: #7c7c7c;
    /*    width: 185px;*/
    padding:5px 0 0 0;
}
.BizDef-author b {
    color:#094f8b;
    font-weight: normal;
}

.BizDef-descr {
    /*    border-top: 1px solid #ccdaec;*/
    /*    clear: both;*/
    margin:0;
    /*    padding:10px 0;*/
    float: left;
    width: 100%;
}
.BizDef-bottomLbl{
    float: right;
    /* width: 100%;*/
    clear: both;
    /* border-bottom: 1px solid #ccdaec;*/
    /*  border-top: 1px solid #ccdaec;*/
}

.BizDef-innerLinks,
.BizDef-properties{
    float: left;
    width: 100%;
    clear: both;
}
.BizDef-properties-dep {
    float: left;
    width: 100%;
    clear: both;
    background-color: #CCDAEC;
    border-bottom: 1px solid #094F8A;

}
.BizDef-properties-dep table {
    padding: 0 2px;
}

.BizDef-keywords {
    padding:0 0 3px 0;
    font-weight: bold;
    /*    width: 100%;*/
    /*    clear: both;*/
    color: #7C7C7C;
    float: left;
}

.BizDef-keywords b {
    padding:5px 0;
    font-weight: normal;
    color:#094f8b;
    /*    float: left;*/
}
.BizDef-mainLbl {
    float: left;
    /*    width: 790px;*/
    width: 100%;
    border-bottom: 1px solid #ccdaec;
    padding:0px 0 2px 0;
    /*padding-bottom: 10px;*/
}

.BizDefDialog-mainLbl {
    float: left;
    /*    width: 790px;*/
    width: 100%;
    border-bottom: 1px solid #ccdaec;
    padding: 2px 0px 2px 0px;
    /*padding-bottom: 10px;*/
}
.MyBIK-Hp,
.BizDef-toFav {
    float: right;
    padding: 0;
}

.User-kind {
    float: none;
    color: #7c7c7c;

    /*    width: 185px;*/
    padding:5px 0 0 0;
    font: 12px/18px Tahoma;
}

.User-kind b {
    color: #094F8B;
    /*    font-weight: normal;*/
}

.User-data {
    float: none;
    color: #7c7c7c;
    /*    width: 185px;*/
    padding:5px 0 0 0;
    font: 12px/18px Tahoma;
}

.User-data b {
    color: #094F8B;
    font-weight: normal;
}

.User-descr {
    float: none;
    color: #7c7c7c;
    /*    width: 185px;*/
    padding:5px 0 0 0;
    font: 12px/18px Tahoma;
}
.User-descr b {
    color: #094F8B;
    font-weight: normal;
}
.labelLink-toFav {
    cursor: pointer;
    color: #7C7C7C;
    /*    float: right;*/
    margin:0 0 0 10px;
    /*border-left: dotted 1px #094f8b;*/
    padding: 0 0 0 25px;
    display: block;
    background: url("../images/addToFav.gif") no-repeat left center;
}

.labelLink-rss {
    cursor: pointer;
    color: #FFFFFF;
    margin:0px 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/rss_icon.gif") no-repeat left center;
}

.labelLink-getAccess {
    cursor: pointer;
    color: #7C7C7C;
    /*    float: right;*/
    margin:5px 0 0 10px;
    /*border-left: dotted 1px #094f8b;*/
    padding: 0 0 0 25px;
    display: block;
    background: url("../images/getAccess.gif") no-repeat left center;
}
.BizDef-keywordLbl {
    float: left;
    padding:3px 0;
}

.BizDef-keyowrdsMain {
    float:left;
}
.BizDef-space {
    clear: both;
}
.BizDef-vWidget,
.inFvs{
    float: right;
    cursor: pointer;
    /*    margin-left: 15px;*/
    margin-top: 0px; /* -1px;*/
    margin-right: 5px;/*10px;*/
}

.Ignore{
    float: right;
    cursor: pointer;
    /*    margin-left: 15px;*/
    margin-top: 0px; /* -1px;*/
    margin-right: 5px;/*10px;*/
    padding-bottom: 2px;
}

.BizDef-conUniv {
    float: left;
    color: #094F8B;
    font: 12px/18px Tahoma;
    /*    border-bottom: 1px solid #ccdaec;
        border-top: 1px solid #ccdaec;*/
    width: 100%;
}
/*.BizDef-conUniv b {
    color:#7C7C7C;
}*/
.BizDef-conUniv i {
    color:#7C7C7C;
    font: 10px/14px Tahoma;
}
.bodyUniverse {
    padding:3px 0 0 0;
}
.bodyConnection {
    /*    float: left;*/
    padding:3px 0;
}

.innerLinksLbl,
.relatedBizDefLbl {
    padding: 3px 0;
    font: 12px/18px Tahoma;
    color: #094F8B;
}
/*.relatedBizDefMain{
    color:#7C7C7C;
    font-weight: bold;
}*/
.voteInfo{
    color:#7C7C7C;
    font: 12px/18px Tahoma;
}
.relatedBizDefMain,
.lblKeyword{
    color:#7C7C7C;
    font:12px/18px Tahoma;
    /*    font-weight: bold;*/
}
.relatedUserMain {

}

.mainTabLook {
    background-color: #ccdaec;
}
.mainTabLook td {
    float: left;
}

#mainTabLookId div div.gwt-TabLayoutPanelContent {
    border: none !important;
    margin:0 !important;
    padding:0 !important;
}


.tabLook {
    color: #739ac2 !important;
    margin:0 10px 0 0 !important;
    padding: 4px 0px 0px 9px !important;
    border: none !important;
    /*    background: none !important;*/
    /*    font-weight: normal;*/
    font: bold 12px/12px "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif !important;
    /*    float: left;*/
}
.mainTabLook .active {
    color: #094F8B !important;
    font: bold 12px/12px "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif !important;
    text-decoration: underline;
}

.tabLook:hover {
    text-decoration: underline;
    color: #094f8b !important;
    cursor: pointer;
}

.mainTabLook div .gwt-TabLayoutPanelTab-selected {
    text-decoration: underline;
    color: #094f8b !important;
    font: bold 12px/12px "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif !important;
}
.leftMainPanelTree {
    /*    background-color: #094f8b;*/
    border: 1px solid #CCDAEC;
    /*    margin-top:-2px;*/
}

.bottomHr {
    background-color:#ccdaec;
    padding:0;
    margin:0;
    border:none;
    height: 1px;
}

.ver {
    margin-top: 8px;
    color: #acbacc;
    font: bold 12px/12px "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    float: right;
    padding:0 7px 0 0;
}

.rightMargin {
    margin-right: 26px;
}

.bottomTxt {
    color: #acbacc;
    font: bold 12px/12px "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}

.supportTxt {
    color: #acbacc;
    font: bold 12px/12px "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    float: left;
    margin-top: 3px;
    padding:0 10px 0 10px;
    border-left: dotted 1px #acbacc;
    margin-left: 10px;
    /*    cursor: pointer;*/
}
/*span.supportData {
    visibility: hidden;
}*/
.supportTxt:hover span.supportData {
    visibility: visible;
}

.itemMediumBlackBtn {
    padding:3px 0;
    margin:0;
    margin-right: 20px;
    border:none;
    background: none;
    cursor: pointer;
    color: black;
    font: 12px/18px Tahoma;
    display: block;
}

.itemBigGrayBtn {
    padding:3px 0;
    margin:0;
    /*margin-right: 20px;*/
    border:none;
    background: none;
    cursor: pointer;
    color: #7C7C7C;
    font: 15px/18px Tahoma;
    display: block;
}

.RelatedObj {
    padding:0;
    margin:0;
    /*    height: 231px;  bf:--> 331*/
}

.RelatedObj-linkSmallBtn {
    cursor: pointer;
    color:#666;
    font: normal 11px Tahoma;
    cursor: pointer;
    display: block;
    padding:0 10px 0 5px;
}

.RelatedObj-linkMediumBtn {
    cursor: pointer;
    color:#666;
    font: normal 12px Tahoma;
    cursor: pointer;
    display: block;
    padding:0 10px 0 5px;
}

.RelatedObj-linkSmallBtn:hover,
.RelatedObj-linkMediumBtn:hover {
    text-decoration: underline;
}


TABLE.RelatedObj-oneObj-grey {
    background-color: #f3f6fb;
}

.RelatedObj-oneObj-grey {
    background-color: #f3f6fb;
      vertical-align: top;
}

.RelatedObj-oneObj-white {
      vertical-align: top;
}

.RelatedObj-oneObj-greyEx {
    background-color: #f3f6fb;
    padding:3px 5px 3px 10px;
}

.RelatedObj-oneObj-whiteEx {
    padding:3px 5px 3px 10px;
}

.gwt-SplitLayoutPanel-HDragger {
    background-color: #ccdaec !important;
}

table tr.related-obj-header-row td {
    font-weight: bolder;
}

.related-obj-header-row {
    background-color: #094F8A;
    height: 24px;
    color: #ffffff;
}

TABLE.RelatedObj-oneObj-grey tr td,
TABLE.RelatedObj-oneObj-white tr td{
    padding: 0px 0; /* ww 4px 0 -> 0px 0 */
    vertical-align: top;
}

.RelatedObj-filters {
    /*    margin:0 10px;*/
    padding: 4px 4px 0;
    border-bottom: 1px solid #ccdaec;
    /*    width: 791px;*/
    /*    display: block;
        float: left;*/
}

.RelatedObj-filters tr td {
    font: normal 11px Tahoma;
    color: #666;
}

.RelatedObj-ObjIcon {
    padding:3px 5px 3px 10px;
}

.RelatedObj-ObjIconEx {
    padding:3px 5px 3px 5px;
}

.RelatedObj-LabelContent {
    color: #094F8B;
    font: 12px/18px Tahoma;
}
.Filters-Checkbox {
    white-space:nowrap;
    margin:0 16px 0 0;
    float: left;
    /*    height: 25px;*/
}
.Filters-Checkbox label {
    /*    vertical-align: top;*/
    color: #094f8b;
    /*    vertical-align: baseline;*/
}
.Filters-Checkbox label img {
    padding:0 3px 3px 0;
}
.Filters-Checkbox input {
    margin:0 3px 0 0;
    /*    vertical-align: sub;*/
}

.EntityDetailsPane {
    /*    color:white;
        border: 1px solid #5982b0;
        background-color: #1e4f8a;*/
    padding:0;
    margin:0 0px; /*ww: było: 0 4px */
    /*    padding:2px 4px;*/
    /*padding:4px;*/
    color: #094f8b;
    border: 1px solid #ccdaec;
}
.filterBox {
    margin:0;
    padding:4px;
    color: #094f8b;
    border: 1px solid #ccdaec;
}

#noHeader tr td table thead tr th div.header-cell{
    height: 0px;
}

#noHeader tr td.footer-table-cell {
    height: 0px;
    /*    background-color: red;*/
    /*    display: none;*/
    margin-top:-20px;
}

.addJoinedObjBtn {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #7C7C7C;
    cursor: pointer;
    display: block;
    font: 15px/18px Tahoma;
    margin: 0;
    padding: 3px 0;
}

.MyBIK {
    color: #094f8b;
    font: 12px/18px Tahoma;
    padding:10px;
}

.MyBIKpadding {
    padding: 10px;
}

.MyBIK h3, .accessRequest .header TD {
    color: #094f8b;
    font: normal 18px/18px Tahoma;
    padding:0 0 10px 0;
    /*    border-bottom: 1px solid #094f8b;*/
    margin: 0 0 5px 0;
}

.MyBIKHistory {
    color: #094f8b;
    font: 12px/18px Tahoma;
    padding: 0;
    width: 100%;
    margin: 0;
}

.MyBIKHistory h3 {
    font: normal 18px/18px Tahoma;
    /*    padding:0 0 10px 0;*/
    border-bottom: 1px solid #094f8b;
    padding: 0 0 10px 0;
    margin: 0 0 5px 0;
}

.MyBIKHistory td {
    padding:0 !important;
}
.MyBIKHistory tr {
    padding: 0 10px;
}

.fvsHeaderLbl,
.historyHeaderLbl,
.fvsVp {
    width: 800px;
    float: right;
}

.mainTabLook div.gwt-TabLayoutPanelTabs {
    left:13px !important;
}

.MyBIKHomePage{
    height: 40px;
}

.MyBIKHomePage-searchVp{
    margin: 30px 0 30px 0;
}

.MyBIKHomePage-searchTB{
    width: 594px;/*360px;*/
    height: 30px;
    background: url("../images/searchTb.gif") top left no-repeat;/*searchTb2*/
    font: 16px Tahoma !important;
    border: none;
    padding: 0 3px 0 3px;
    color: #094F8B;
    line-height: 30px !important;
}

.MyBIKHomePage-searchImg{
    cursor: pointer;
    margin-left: 3px;
}

.MyBIKHomePage-search {
    color: #7C7C7C;
    margin: 0 0 3px 0;
    display: inline;
}
.MyBIKHomePage-searchHp{
    margin: 0 0 0 5px;
    width: 590px;
}

.MyBIKHomePage-labelLink {
    cursor: pointer;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    /*    color: #7C7C7C;*/
    /*    margin:0 0 0 20px;*/
    /*    padding: 0 0 0 5px;*/
    display: inline;
}

.MyBIKHomePage-slideshow {
    /*    float: right;*/
    background: url("../images/slideshow.gif") no-repeat left center;
    padding:0px 26px 0px 28px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    /*    margin: 0 10px 0px 0;*/
    /*    width: 19px;*/
    height: 19px;
    margin-top: 1px;
    cursor: pointer;
    min-width: 300px;
}

.MyBIKHomePage-labelLinkSearch {
    cursor: pointer;
    color: #7C7C7C;
    /*    margin:0 0 0 20px;
    */        padding: 0 0 0 3px;
    display: inline;
}


.MyBIKHomePage-welcomeMsg{
    float: left;
    padding: 0 0 0 5px;
    cursor: pointer;
}
.HomePage-bizDef {
    float: left;
    width: 100%;
    padding:0px 0 2px 0;
}

#contexMenuId.contexMenu .gwt-Label{
    cursor: pointer;
    display: block;
    color: #094F8A;
}

#contexMenuId.contexMenu .gwt-Label:hover {
    /*    text-decoration: underline;*/
    background-color: #094F8A;
    color: #ACC3E2;
}


.Blogs-oneBlogEntryFp,
.Attachs-oneAttachEntryFp,
.Attr-oneAttrEntryFp {
    border-radius: 7px 7px  7px 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: #f3f6fb;
    /*    width: 100%;*/
    margin: 5px;
}
.newBlogGrid, .newAttaGrid, .newNoteGrid {
    border-spacing:0px !important;
    width: 100%;
    padding: 0 5px;
    color: #094F8B;
    margin: 4px 0px;
    /*    font: 12px/18px Tahoma;*/
}

.newBlogGrid tr {
    margin:0 5px 5px 5px;
    /*    float: left;*/
    /*    display: table;*/
    /*    width: 100%;*/
}

.newBlogGrid tr td, .newAttaGrid tr td {
    /*    border-radius: 7px 7px  7px 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;*/
    background-color: #f3f6fb;
    /*        width: 100%;
        margin: 5px;*/
    /*    width: 33%;*/
    /*    border-bottom: 7px solid transparent;*/
}

.newBlogGrid tr td:first-child, .newAttaGrid tr td:first-child {
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.newBlogGrid tr td:last-child, .newAttaGrid tr td:last-child {
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.lastFp {
    -webkit-border-top-right-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-topright: 12px;
    -moz-border-radius-bottomright: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #f3f6fb;
}

.Notes-oneNoteEntryFp {
    /*    background: url(../images/userComments.gif) no-repeat left top;*/
    background: url("../images/userArrow.gif") no-repeat left top;
}

.Notes-innerOneNoteEntryFp {
    /*    border-radius: 7px 7px  7px 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;*/
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    background-color: #f3f6fb;
    /*    width: 100%;*/
    margin: 0px 0px 0px 10px;
    min-height: 37px;
}

.Blogs-oneBlogEntryFp-none,.Search {
    margin: 5px;
}
.Roles-mainRoleVp,
.Blogs-mainBlogVp,
.Notes-mainNoteVp,
.Attachs-mainAttachVp,
.Specialist-mainSpecialistVp,
.Attr-mainAttrVp,
.Joined-mainJoinedVp{
    /*background-color: #CCDAEC;*/
    width:100%;
}

.Blogs-blogTitle {
    padding: 3px 5px;/* padding:5px;*/
    cursor: pointer;
}

.Attr-link
{
    cursor: pointer;
    padding-top: 3px;
}

.Notes-noteTitle,
.Notes-labBody,
.Attachs-attTitle,
.Attr-attrTitle{
    padding: 3px;
}

.Blogs-dateAdded,
.Notes-dateAdded,
.News-dateAdded{
    float: right;
    background: url("../images/clock.gif") no-repeat left center;
    padding:3px 5px 3px 20px;
    width: 130px;
}

.News-newsTitle{
    padding: 3px;
    vertical-align: middle;
    float: left;
    cursor: pointer;
}

.Tutorial-Title{
    padding: 3px;
    vertical-align: middle;
    float: left;
    cursor: pointer;
    font-weight: bold;
}
.News-newsText{
    padding: 5px 3px 5px 20px;
    /*    word-wrap: break-word;
        width:300px;*/
}


.News-authorName{
    float: right;
    padding:3px 5px 3px 20px;
}

.newsSubject{
    display:inline;
    cursor: pointer;
    float: left;
    vertical-align: middle;
}
.newsImg{
    display:inline;
    cursor: pointer;
    vertical-align: middle;
    float: left;
}

.Statistics-title{
    padding: 5px 10px 5px 10px;
    /*width: 100%;*/
    vertical-align: middle;
    float: left;
}

.Statistics-tableTitle{
    height: 15px;
    margin-top: 2px;
    white-space: nowrap;
    /*    border-bottom: 1px solid #CCDAEC;*/
    font:bold 12px Tahoma;
    padding: 5px 10px 5px 10px;
    /*width: 100%;*/
    vertical-align: middle;
    text-align: center;
}

.Statistics-titleRow{
    border-bottom: 1px solid #CCDAEC;
}

.Statistics-tableTitleName{
    height: 15px;
    margin-top: 2px;
    white-space: nowrap;
    /*    border-bottom: 1px solid #CCDAEC;*/
    font:bold 12px Tahoma;
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
    float: left;
}

.Statistics-cnt{
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
    text-align: center;
}

.Statistics-cntLogUser{
    padding: 5px 20px 5px 20px;
    vertical-align: middle;
    float: inside;
    background-color: #f3f6fb;
}

.Statistics-nrLogUser{
    padding: 5px 0px 5px 10px;
}

.Roles-innerRoleEntriesVp,
.Blogs-innerBlogEntriesVp,
.Notes-innerNoteEntriesVp,
.Attachs-innerAttachEntriesVp,
.Author-innerAuthorEntriesVp,
.Attr-innerAttrVp {
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    height: 282px; /*  bf:--> 332  256*/
    /*    margin:5px 0;*/
}

.obj-innerObjEntriesVp{
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    /*    height: 188px; bf:--> 308*/
}

.Blogs-oneBlogEntryHl,
.Notes-oneNoteEntryHl,
.Attachs-oneAttachEntryHl,
.Attr-oneAttrEntryHp {
    width: 100%;
}
.Vote-starBtn {
    width: 14px;
    padding: 5px 2px !important;
    margin:0;
    cursor: pointer;
    background: none !important;
    border: none !important;
}

div.Blogs-trashBtn,
div.Notes-trashBtn,
div.Note-editBtn,
div.Attachs-trashBtn,
div.Specialist-editAddBtn,
div.Specialist-clearBtn
/*.Attr-editBtn,*/
{
    width: 16px;
    padding: 5px !important;
    margin:0;
    cursor: pointer;
    background: none !important;
    border: none !important;
}

.Attr-editBtn,
.Attr-trashBtn,
.Attr-lookupBtn
{
    padding-top: 0px;
    width: 16px;
    cursor: pointer;
    background: none !important;
    border: none !important;
    /*    margin: 0px 4px;*/
    margin: 5px 4px 0;
}

.Blogs-userName,
.Notes-authorName {
    float: right;
    padding: 5px;
}
.Glosariusz-addTezaurusEntry,
.Users-addUserEntry,
.Blogs-addBlogEntry,
.Notes-addNoteEntry,
.Attachs-addAttachEntry,
.Attr-addAttrFp,
.Attr-addAttrEntry,
.Attr-newAddAtrr,
.News-addNewsEntry {
    float: right;
    background: url("../images/edit_2add.png") no-repeat left center;
    padding:2px 5px 2px 20px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    margin: 0 10px 0px 0;
    cursor: pointer;
}

.uprawnienia-pokażUprawnienia{
    float: right;
    background: url("../images/dartAt.png") no-repeat left center;
    padding:2px 5px 2px 20px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    margin: 0 10px 0px 0;
    cursor: pointer;
}

.Node-GoToLinked {
    float: right;
    background: url("../images/link_arrows.gif") no-repeat left center;
    padding:0px 0px 0px 25px;
    margin: 0 0 0 10px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    /*    margin: 0 10px 10px 0;*/
    cursor: pointer;
}

.no-icon-popup-menu-btn {
    /*padding:5px 5px 5px 20px;*/
    padding: 3px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    /*margin: 0 10px 10px 0;*/
    cursor: pointer;
}

.no-icon-popup-menu-btn:hover {
    background-color: #B0C4D6;
}

/*.Glosariusz-addTezaurusEntry {
    margin:0;
}*/

.BikButton-disabled{
    cursor: default;
    text-decoration: none;
    opacity: 0.5;
}

.BikButton-disabled:hover {
    text-decoration: none;
}
.Specialist-oneSpecialistBoxFp {
    /*    background: url(../images/userSpecialistTab.gif) no-repeat left center;*/
    /*    padding: 0 0 0 35px;*/
    padding: 0;
    margin:15px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
}

/*html {scrollbar-base-color: #FF9900}*/

.loupe {
    padding: 3px;
}

div.plusLarge {
    background: none !important;
    border: none !important;
    padding:0;
    margin: 0;
    padding-left: 3px;
}

.blog-title {
    color:#333;
    font: normal 16px/18px Tahoma;
    padding:5px;
}

.blog-content {
    color:#094F8B;
    font: normal 12px/18px Tahoma;
    padding:5px;
}

div.gwt-DialogBox .Caption  {
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-weight:normal;
    font-size:16px !important;
    color:#fff;
    /*    height:22px;*/
    height:25px;
    text-shadow:0 -1px 0px rgb(143,173,209);
    background:url("../images/mainBgShadow2.gif") bottom left repeat-x !important;
    border-bottom: none !important;
    /*    padding:4px 8px !important;*/
    padding: 4px 2px 4px 8px !important;
}
.gwt-DialogBox .Caption .gwt-HTML {
    font-size: 16px;
    white-space: nowrap;
}

div.followBtn,
div.loupeBtn/*,
.gwt-PushButton-up*/ {
    padding:0 5px ;
    width: 22px;
    margin:0;
    background-image: none !important;
    border: 0px none ;
    cursor: pointer;
}

.MyBikLoupe{
    padding:0 5px !important;
}

#mainTabLookId .gwt-TabLayoutPanelContentContainer {

    border:none !important;
}
.gwt-RichTextToolbar {
    background: none !important;
    border-bottom-color: #CCDAEC !important;
}
.addBlogRTA,
.addBlogTitle,
.loginAndPass,
.addNode,
.addNote,
/*.addAttr,*/
.BPDtextBox,
.BPDlistBox,
.KPDtextBox,
.KPDlistBox,
.editAttrBox,
.metaTbTytul,
.dictionaryTb,
.adminTextBox,
.sendUrlInput,
.userDialogInput,
.dfiVersionTb,
.searchPhraseTb,
.addOUpItemTb,
.propNameTb{
    border: 1px solid #CCDAEC;
    /*    width: 100%;*/
    color: #094F8A;
    font: 12px/14px Tahoma !important;
    padding: 4px !important;
}
.loginListBox  {
    padding: 3px 4px !important;
    border-left: none;
}


.addAttr{
    border: 1px solid #CCDAEC;
    /*    width: 100%;*/
    color: #094F8A;
    font: 12px/14px Tahoma !important;
    padding-top: 4px;
    padding-bottom: 4px;
}

.addBlogTitle {
    color: #333333;
}

/*body.addContentBlog {
    color: #094F8A !important;
    font: 12px/18px Tahoma !important;
}*/
.addBlogLbl,
.loginLbl,
.addNodeLbl,
.addNoteLbl,
.addAttrLbl,
.BPDlblSearch,
.BPDlblListBox,
.KPDlblSearch,
.KPDlblListBox,
.editAttr,
.metaDefLbl,
.metaTitleLbl,
.dictionaryLbl,
.userDialogLbl,
.propNameLbl{
    color: #094F8A;
    font: bold 12px/18px Tahoma;
}
.NewLoginLbl {
    color: #094F8A;
    font: normal 16px/22px Tahoma;
    padding-bottom: 5px;
}

.miniInfoText {
    color: #094F8A;
    font: normal 12px/16px Tahoma;
    padding-top: 5px;
}

.regularInfoText {
    color: #094F8A;
    font: normal 14px/16px Tahoma;
    padding-top: 0px;
    padding-bottom: 6px;
}

.radioBtnH, .voteHintTxt,.propNameGp {
    color: #094F8A;
}

.sendUrlInfoText {
    color: #094F8A;
    font-weight: bold;
    padding-bottom: 5px;
}

.BPDlistBox option,
.KPDlistBox option {
    padding: 2px;
}

#myCustomPushButton.gwt-PushButton-down,
#myCustomPushButton.gwt-PushButton-down-hovering,
#myCustomPushButton.gwt-PushButton-down-disabled{
    padding: 0;
    border:none;
    margin:1px 0 0 0;
}

#myCustomPushButton.gwt-PushButton-up,
#myCustomPushButton.gwt-PushButton-up-hovering,
#myCustomPushButton.gwt-PushButton-up-disabled {
    padding:0;
    border:none;
}

#myCustomPushButton.gwt-PushButton-up,
#myCustomPushButton.gwt-PushButton-up-hovering,
#myCustomPushButton.gwt-PushButton-down-hovering,
#myCustomPushButton.gwt-PushButton-up-disabled {
    max-width: 223px;
    height: 23px;
    border: none;
    /*        float: left;*/
    /*    display: inline-block;*/
    vertical-align: middle;
}

#myCustomPushButton.gwt-PushButton-up {
    background: url("../images/bik_button_l.png") no-repeat center left;
    /*    float: left;*/
    /*    float: left;*/
    display: inline-block;

    zoom: 1;
    *display:inline;
}

#myCustomPushButton.gwt-PushButton-up-hovering,
#myCustomPushButton.gwt-PushButton-down-hovering {
    background: url("../images/bik_button_hover_l.png") no-repeat center left;
    /*    float: left;*/
    display: inline-block;

    zoom: 1;
    *display:inline;
}

#myCustomPushButton.gwt-PushButton-up-disabled {
    background: url("../images/bik_button_disabled_l.png") no-repeat center left;
    /*    float: left;*/
    display: inline-block;

    zoom: 1;
    *display:inline;
}

#myCustomPushButton.gwt-PushButton-up .html-face,
#myCustomPushButton.gwt-PushButton-up-hovering .html-face,
#myCustomPushButton.gwt-PushButton-down-hovering .html-face,
#myCustomPushButton.gwt-PushButton-up-disabled .html-face{
    margin:0 0 0 10px;
    padding: 0 10px 0 0;
    height: 23px;
    color:#fff;
    font: normal 13px/18px Tahoma;
}

#myCustomPushButton.gwt-PushButton-up .html-face {
    background: url("../images/bik_button_r.png") no-repeat center right;
    /*    display: inline-block;*/
    /*        float: left;*/
    /*    display: inline-block;*/
    display: inline-block;

    zoom: 1;
    *display:inline;
}

#myCustomPushButton.gwt-PushButton-up-hovering .html-face,
#myCustomPushButton.gwt-PushButton-down-hovering .html-face{
    background: url("../images/bik_button_hover_r.png") no-repeat center right;
    /*    float: left;*/
    display: inline-block;

    zoom: 1;
    *display:inline;
}

#myCustomPushButton.gwt-PushButton-up-disabled .html-face {
    background: url("../images/bik_button_disabled_r.png") no-repeat center right;
    /*    float: left;*/
    display: inline-block;

    zoom: 1;
    *display:inline;
}
#myCustomPushButton.gwt-PushButton-up .html-face a,
#myCustomPushButton.gwt-PushButton-up-hovering .html-face a,
#myCustomPushButton.gwt-PushButton-down-hovering .html-face a,
#myCustomPushButton.gwt-PushButton-up-disabled .html-face a{
    color:#fff;
}

.status {
    color: red;
    font: normal 12px/18px Tahoma;
    margin:0 4px;
}

table.advanced-Grid tr:hover {
    background-color: #D7E9FF;
    color: #094F8B !important;
}

.komunikat {
    color: #094F8A;
    font: normal 12px/18px Tahoma;
    margin:0 4px;
}

.PUWelement {
    text-align: center;
    clear: both;
    margin: 10px 0;
    font-weight: bold;
}
.PUWelement img {
    padding:0 4px;
    vertical-align: sub;
}
.iconSizeStyle {
    padding:3px;
    width: 16px;
}

.treeBikFilterBox {
    background-color: #CCDAEC;
    padding: 3px;
    margin-top: 1px;
}

#attViewBtnId.attViewBtn,
#attViewBtnId.attViewBtn:hover {
    border: medium none;
    display: inline-block;
    height: 23px;
    max-width: 123px;
    vertical-align: middle;
    padding: 0;
    cursor: pointer;
}

#attViewBtnId.attViewBtn {
    background: url("../images/bik_button.gif") no-repeat left center;

    display: inline-block;

    zoom: 1;
    *display:inline;
}
#attViewBtnId.attViewBtn:hover {
    background: url("../images/bik_button_hover.gif") no-repeat left center;

    display: inline-block;

    zoom: 1;
    *display:inline;
}

#attViewBtnId div.attViewBtnInner,
#attViewBtnId div.attViewBtnInner:hover,
#attViewBtnId.attViewBtn:hover div.attViewBtnInner {
    color: #FFFFFF;
    height: 23px;
    margin: 0 0 0 3px;
    padding: 0 10px 0 7px;
    text-decoration: none;
    font: normal 13px/17px Tahoma;
}

#attViewBtnId div.attViewBtnInner {
    background: url("../images/bik_button.gif") no-repeat right center;

    display: inline-block;
    zoom: 1;
    *display:inline;
}

#attViewBtnId div.attViewBtnInner:hover,
#attViewBtnId.attViewBtn:hover div.attViewBtnInner{
    background: url("../images/bik_button_hover.gif") no-repeat right center;

    display: inline-block;

    zoom: 1;
    *display:inline;
}

#attViewBtnId div.BikButton-disabled,
#attViewBtnId div.BikButton-disabled:hover,
#attViewBtnId.attViewBtn:hover div.BikButton-disabled{
    opacity: 1.0;
    filter: alpha(opacity = 100);
    background: url("../images/bik_button_disabled.gif") no-repeat right center;

    display: inline-block;

    zoom: 1;
    *display:inline;
}
#attViewBtnId.fpHelp-disabled,
#attViewBtnId.fpHelp-disabled:hover{
    background: url("../images/bik_button_disabled.gif") no-repeat left center;

    display: inline-block;

    zoom: 1;
    *display:inline;
    opacity: 0.5;
    filter: alpha(opacity = 40);
    cursor: default;
}

#attViewBtnId div.attViewBtnInner a,
#attViewBtnId div.attViewBtnInner a:hover {
    display: block;
    cursor: pointer;
    color: #fff;
}


/*.gwt-PushButton-up-disabled { filter: alpha(opacity = 100);opacity: 1.0;}*/
.gwt-HorizontalSplitPanel .hsplitter {
    background-color: #CCDAEC !important;
    background: none #CCDAEC !important;
}

#loginButton {
    float:right;
    white-space:nowrap;
}

table td {
    padding:0;
    margin:0;
}

.crazyMadaFacka {
    background-color: #CCDAEC;
    height: 21px; /*25px*/
    width: 100%;
    /* padding: 4px 0 0 6px*/
}

/*.help{
    float: right;
    background: url("../images/help.png") top right no-repeat;
    background-color: #CCDAEC;
    width: 19px;
    height: 19px;
    cursor: pointer;
    border: none;
    padding: 0px;
    margin: 0px;
    margin: 1px 7px 0 0;
}*/

.help{
    float: right;
    background: url("../images/hint.gif") no-repeat left center;
    padding:0px 3px 0px 3px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    /*    margin: 0 10px 0px 0;*/
    width: 19px;
    height: 19px;
    margin-top: 1px;
    cursor: pointer;
}


.helpPb{
    float: right;
    /*background: url("../images/hint.gif") no-repeat left center;*/
    padding:3px 10px 0px 5px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    /*    margin: 0 10px 0px 0;*/
    /*width: 10px;*/
    height: 19px;
    margin-top: 1px;
    cursor: pointer;
}

.helpHorizontal{
    float: left;
    width: 100%;
}

#myStackPanel .gwt-StackPanelItem {
    background: none;
    background-color: #CCDAEC;
    font: normal 12px/18px Tahoma !important;
    border: 1px solid #CCDAEC;
    border-bottom: 1px solid #094F8A;
}

#myStackPanel {
    margin: 0;
    width: 100%;
    border: none;
    background-color: #CCDAEC;
}

#myStackPanel .gwt-StackPanelItem-selected {
    background-color: #094F8A;
}

#myStackPanel .gwt-StackPanelItem-selected {
    color: #ACC3E2;
    border: 1px solid #094F8A;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

#myStackPanel .gwt-StackPanelContent {
    border: 1px solid #094F8A;
    background-color: #fff;

    /*padding-bottom: 4px;*/
    padding: 2px 5px 4px 5px;

}

.defBottomLine {
    margin-top: 5px;
}

.topMarginForAdminLabel {
    margin-top: 8px;
}

.adminIconMargin {
    /*margin-top: 5px;*/
    margin-left: 5px;
}

.iconStyleP {
    position: relative;
    z-index: 2;
    width: 8px;
    height: 8px;
    bottom: 0px;
    left: -16px;
}

.iconStyleL {
    position: relative;
    z-index: 1;
    width: 16px;
    height: 16px;
}

.wezyrTreeGrid tr.active {
    background-color: green;
}

#myStackPanel .gwt-StackPanelItem-first {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.wezyrTreeGrid table tr td img, .wezyrTreeGrid table tr td .cellInner {
    vertical-align: middle;
}

.wwNewTreeSearch {
    /*HSP-fix: max-width: 350px !important;*/
}

.wwNewTreePopup {
    /*HSP-fix: max-width: 750px !important;*/
}

.wwNewTree {
    height: 22px;
    /*HSP-fix: max-width: 310px;*/
    overflow: hidden;
    white-space:nowrap;
}

.wwNewTree .treeIcon {
    padding-right:3px;
}

.wezyrTreeGrid tr {
    padding: 0;
    margin: 0;
}
.wezyrTreeGrid table {
    padding: 0;
    margin: 0;
    border-spacing:0px !important;
    width: 100%;
    color: #094F8B;
    font: normal 12px Tahoma;
    white-space: nowrap;
}
.wezyrTreeGrid tr.active {
    background-color: #D7E9FF;
}

.wezyrTreeGrid tr.cut {
    cursor: default;
    text-decoration: none;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.wezyrTreeGrid tr:hover {
    background-color: #CCDAEC;
    cursor: pointer;
}

.wwNewTree .treeIconP {
    position: relative;
    z-index: 2;
    bottom: -4px;
    left: -16px;
    margin: -4px;
}

.wwNewTree .treeIconL {
    position: relative;
    z-index: 1;
    padding: 3px;
}

.delTrashBtn {
    background: url("../images/trash_gray.gif") no-repeat scroll left center transparent;
    color: #094F8A;
    cursor: pointer;
    float: right;
    font: 12px/18px Tahoma !important;
    margin: 0 10px 0px 0;
    padding: 5px 5px 5px 20px;
}

.lookupTrashBtn {
    background: url("../images/loupe.gif") no-repeat scroll left center transparent;
    color: #094F8A;
    cursor: pointer;
    float: left;
    font: 12px/18px Tahoma !important;
    margin: 0 10px 0px 0;
    padding: 5px 5px 5px 20px;
}

.gridJoinedObj {
    color: #094F8B;
    font: 12px/18px Tahoma;
    border-spacing:0px !important;
    width: 100%;
    /*    white-space: nowrap;*/
}

.BizDef-innerLinks a, .defBody a {
    color: #7C7C7C !important;
    font: 12px/18px Tahoma;
}

.space td {
    height: 5px;
    background-color: #fff !important;
}

.newBlogGrid tr.space td:last-child, .newBlogGrid tr.space td:first-child {
    border:none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

td.eloziom {
    width: 32px;
}

.newNoteGrid tr td:last-child {
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.newNoteGrid td.bg {
    background-color: #f3f6fb;
}

.gridAdmin {
    color: #fff;
    font: 12px/18px Tahoma;
    border-spacing:0px !important;
    background-color: #1f5c99;

}

.def-overflow {
    overflow: hidden;
}


.def-title {
    color:#094F8B;
    font: normal 16px/18px Tahoma;
    padding:5px;
    font-weight: bold;
}

.def-content {
    color:#094F8B;
    font: normal 12px/18px Tahoma;
    padding:5px;
    min-width: 600px;
}

.code {
    color:#094F8B;
    padding:0px;
    line-height:0px;
}

.def-look {
    color:#094F8B;
    font: normal 12px/18px Tahoma;
    padding:5px;
    min-width: 600px;
    margin-left:35px;
}

span.def-capton{
    font-size:  19px;
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #AAAAAA;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0.17em;
    padding-top: 0.5em;
    width: auto;
    font-family:sans-serif;
}
h1,h2,h3{
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCDAEC;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0.17em;
    padding-top: 0.5em;
    width: auto;
    font-family:sans-serif;
}
.BizDef-titleLblsub
{
    cursor: pointer;
    font-weight: normal;
    font-family:sans-serif;
    font-size: 16px;/*	25.6px;*/
    line-height: 1.2em;
    float: left;
    color:#094F8B;
    padding-right: 15px;
}

#toc, .toc, .mw-warning {
    background-color: #F9F9F9;
    border: 1px solid #AAAAAA;
    font-size: 95%;
    padding: 5px;
    min-width:300px;
    font-family:sans-serif;
}


.def-code{
    background: none repeat scroll 0 0 #F9F9F9;/*e9f3ff*/
    border: 1px dashed #2F6FAB;
    overflow: auto;
    padding: 1em;
    font-family:monospace;
    font-size:11.4333px;
    line-height:13.7167px;
}

table.def-code tbody tr td{
    font-family:monospace;
}

table.def {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #AAAAAA;
    border-collapse: collapse;
    /*    margin: 1em 1em 1em 0;*/
    /*    min-width:300px;*/
    /*    width:100%*/
}

.def th, .def td {
    border: 1px solid #AAAAAA;
    /*    padding: 0.2em;*/
    height: 2em;
    /*    text-align: center;*/
}

.def-image {
    border: 1px solid #CCCCCC;
    text-align:center;
}

.MyBIKAvatarPanel{
    background-color: #f2f2f2;
    width:202px;
    /*    height:212px;*/
    text-align:center;
    border:1px solid #a5a5a5;
    overflow: hidden;
    margin-bottom: 12px;
    padding: 5px 0 5px 0px;
}
/*avatar*/
.MyBIKAvatarImg{
    /*    background-color: #1d86cf;*/
    max-width:190px;
    max-height:190px;
    border:1px solid #a5a5a5;
    overflow: hidden;
}

.MyBIKAvatarLefPanel{
    width:222px;
    padding: 10px 0 10px 10px;
    background-color: #094f8a;
    /*        #CCDAEC;*/

    border-radius: 0px 0px  7px 7px;
    -moz-border-radius:  0px 0px  7px 7px;
    -webkit-border-radius:  0px 0px  7px 7px;
    overflow: hidden;
    /*   background: url("../images/leftp.gif") no-repeat scroll  bottom #CCDAEC;;*/
}

.MyBIKAvatarPanelEdit{
    /*    background-color: #CCDAEC;*/
    /*    border:1px solid #a5a5a5;*/
    /*    height:212px;*/
    /*    padding: 5px 5px 5px 5px;*/
    overflow: hidden;
    padding: 5px 0 5px 5px;
    text-align:center;
    width:131px;
}
.MyBIKAvatarPanelEditUser{
    overflow: hidden;
    padding: 5px 10px 5px 10px;
    width:280px;
    color: #094F8A;
}

.MyBIKAvatarImgEdit{
    /*    background-color: #1d86cf;*/
    max-width:120px;
    max-height:120px;
    text-align:center;
    border:1px solid #a5a5a5;
    overflow: hidden;
}

.MyBIK-Btn a:hover{
    font-size: 26px;
}
.MyBIKAvatarPanelEditP{
    background-color: #f2f2f2;
    width:131px;
    /*    height:212px;*/
    text-align:center;
    border:1px solid #a5a5a5;
    padding: 5px 0 5px 0px;
    overflow: hidden;
}
.startHps{
    overflow: hidden;
    bottom: 0;
    overflow: hidden;


}
.MyBIK-Btn {
    margin:5px 0px 0px 0px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    text-align:center;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    text-shadow: 0 -1px 0 #8FADD1;
    background: url("../images/mainBgShadow2.gif") repeat-x scroll left bottom transparent;
    /*       -moz-border-radius: 10px;
        -moz-border-radius-bottomright: 10px;*/
    border-radius: 7px 7px  0px 0px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

}

.MyBIK-Btna {
    margin:5px 0px 0px 0px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    text-align:center;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    text-shadow: 0 -1px 0 #8FADD1;
    background: url("../images/mainBgShadow2z.gif") repeat-x scroll left bottom transparent;
    border-radius: 7px 7px  7px 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.labelLink-Fav {
    cursor: pointer;
    color: #FFFFFF;
    margin:0px 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/favUser.gif") no-repeat left center;
}

.labelLink-toHist {
    cursor: pointer;
    color: #FFFFFF;
    margin:0 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/history.gif") no-repeat left center;
}

.labelLink-profil {
    cursor: pointer;
    color: #FFFFFF;
    margin:0 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/profil.gif") no-repeat left center;
}

.labelLink-myobjects {
    cursor: pointer;
    color: #FFFFFF;
    margin:0 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/report.gif") no-repeat left center;
}

.labelLink-usersobjects {
    cursor: pointer;
    color: #FFFFFF;
    margin:0 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/usersObjects.gif") no-repeat left center;
}

.labelLink-note {
    cursor: pointer;
    color: #FFFFFF;
    margin:0 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/noteb.gif") no-repeat left center;
}

.labelLink-news {
    cursor: pointer;
    color: #FFFFFF;
    margin:0 0 0 12px;
    padding: 0 0 5px 24px;
    display: block;
    background: url("../images/news.gif") no-repeat left center;
}

.labelLink-tutorial {
    cursor: pointer;
    color: #FFFFFF;
    margin:0 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/tutorial.gif") no-repeat left center;
}

.labelLink-vote {
    cursor: pointer;
    color: #FFFFFF;
    margin:0 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/likeuser.gif") no-repeat left center;
}

.labelLink-home {
    cursor: pointer;
    color: #FFFFFF;
    margin:0 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/home.gif") no-repeat left center;
}


.labelLink-blog {
    cursor: pointer;
    color: #FFFFFF;
    margin:0 0 0 10px;
    padding: 0 0 5px 25px;
    display: block;
    background: url("../images/blog_icon.gif") no-repeat left center;
}

.searchPageBigTxt{
    /*    font-size: 16px;*/
    font-weight: bold;
    color: #094F8B;
    font: 12px/18px Tahoma;
    
}

.dqcActiveTests{
    /*    font-size: 16px;*/
    font-weight: bold;
    color: #094F8B;
    font: 12px/18px Tahoma;
    margin-right: 10px;
}
.doNotWrapWhiteSpace {
    white-space: nowrap;
}

.gwt-CheckBox *,.gwt-RadioButton {
    vertical-align: middle;
    font: normal 11px Tahoma;
    color: #094F8A;
}

.cb-spacer-special-style {
    margin-right: 8px;
}

.leftFloatingPanel {
    float: left;
    margin-right: 8px;
}

.clearBoth {
    clear:both;
}

.paddingBottom4px {
    padding-bottom: 4px;
}

.paddingTop8px {
    padding-top: 8px;
}

.searchImg{
    margin: 0 5px 0 2px;
    padding:0;
    display:inline;
    cursor: pointer;
}

.searchPageBigTxtP {
    /*    font-size: 16px;*/
    font-weight: bold;
    color: #094F8B;
    font:bold 12px/18px Tahoma;
    margin: 0 5px 0 0px;
}
.searchPhrasePnl{
    margin: 10px 0px 0 0px;
    padding:0;
    display:inline;
}

.def-content h2{
    /*     background: none repeat scroll 0 0 transparent;*/
    border-bottom: 0px solid #CCDAEC;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0.17em;
    padding-top: 0.5em;
    width: auto;
    font-family:sans-serif;
}

.FAQ-mainLbl {
    float: left;
    /*    width: 790px;*/
    width: 100%;
    /*    border-bottom: 1px solid #ccdaec;*/
    padding:0 0 0px 0;
}

.FAQ-descr {
    /*    border-top: 1px solid #ccdaec;*/
    /*    clear: both;*/
    margin:0;
    padding:0;
    float: left;
    width: 100%;
}

.GlossaryScPanel {
    max-height: 400px;
    width:100%;
    padding:0px;
    margin:0px;
}

.GlossarylookupTrashBtn {
    background: url("../images/loupe.gif") no-repeat scroll left center transparent;
    color: #094F8A;
    cursor: pointer;
    float: left;
    font: 12px/18px Tahoma !important;
    margin: 0 0 0 5px; /*  margin: 0 10px 0px 30px;*/
    padding: 0px 0px 0px 25px; /*5px 5px 5px 25px;*/
}

.wwNewTreeExtraCol {
    /*HSP-fix: max-width: 85px;*/
    /*height: 22px;*/
    overflow: hidden;
    white-space:nowrap;
    padding-left: 4px;
}

.arrowUp {
    background: url("../images/arrowup.gif") no-repeat scroll right center transparent;
    width: 20px;
    /*    padding: 35px 0px 0px 0px; 31*/
    /*    margin-bottom: -55px;*/
    /*    margin-right: 10px;*/
    margin-top: 2px;
    float:right;
    cursor: pointer;
    height: 36px;
}

.arrowDown {
    background: url("../images/arrowdown.gif") no-repeat scroll right center transparent;
    width: 20px;
    /*    padding: 35px 0px 0px 0px; 35px 5px 5px 0px;*/
    /*    margin-bottom: -55px;*/
    /*    margin-right: 10px;*/
    margin-top: 2px;
    height: 36px;
    overflow: hidden;
    float:right;
    cursor: pointer;
}

/*.dartDown {
    background: url("../images/dartDown.png") no-repeat scroll right center transparent;
    width: 16px;
        margin-top: 2px;
    height: 22px;
    overflow: hidden;
    float:right;
    cursor: pointer;
    margin-right: 4px;
}
.dartAt {
    background: url("../images/dartAt.png") no-repeat scroll right center transparent;
    width: 16px;
        margin-top: 2px;
    height: 22px;
    overflow: hidden;
    float:right;
    cursor: pointer;
    margin-right: 4px;
}*/

.dartAt, .dartDown {
    background: url("../images/dartAt.png") no-repeat scroll right center transparent;
    width: 16px;
    /*    margin-top: 2px;*/
    height: 22px;
    overflow: hidden;
    float:right;
    cursor: pointer;
    margin-right: 4px;
}

.dartDown {
    background: url("../images/dartDown.png") no-repeat scroll right center transparent;
}

.gridJoinedObj .dartAt, .gridJoinedObj .dartDown {
    margin-right: 2px;
    margin-left: 2px;
}

.gridJoinedObj .RelatedObj-ObjIconEx {
    padding-left: 1px;
    padding-right: 1px;
}

.gridJoinedObj .Blogs-blogTitle {
    padding-left: 2px;
    padding-right: 2px;
}

.secedpHP {
    background: url("../images/innerTabBg3px.gif") repeat-x scroll left top transparent;
    color: #ACC3E2;
    font-weight: normal;
    height: 36px;
    margin: 2px 0 0;
    padding-left: 0;
    overflow: hidden;
    position: relative;
    /*        width:100%;*/
}
.secedpH table tbody tr td{
    vertical-align: middle;

}
.secedpHP .gwt-HTML{
    padding: 2px 7px 0px 8px;
    margin: 0;
    text-align: center;
    color: #ACC3E2;
    display: block;
    font-size: 11px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.Vote-Btn    {
    margin:0;
    cursor: pointer;
    background: none !important;
    border: none !important;
    vertical-align: bottom;
    padding: 0px;
}

.Vote-Btn-up-disabled,
.BizDef-vWidget-up-disabled,
.inFvs-up-disabled{
    cursor: default;
    opacity: 0.5;
}

.richTextAreaP{
    /*    background-color: #CCDAEC;*/
    background: url("../images/hborder.png") repeat-x scroll 0 -27px transparent;
    border-bottom: 1px solid #BBBBBB;
    width: 100%;
    text-align: center;
    padding: 0px;

}
.richTextAreaToolbar{
    padding: 0px;
    text-align: center;
}

.richTextArea{
    border: 1px solid #CCDAEC;
    /*    width: 100%;*/
    color: #094F8A;
    padding: 0;
    margin: 0;
    font: 12px/14px Tahoma !important;
}

.voteCnt{
    font: 12px/18px Tahoma !important; /*16px/18px Tahoma;*/
    /*    margin-top: 2px;*/
    margin-right: 5px;
    margin-top: 2px;
}

.labelLink-toSend {
    background: url("../images/share.gif") no-repeat scroll left center transparent;
    color: #094F8A;
    cursor: pointer;
    float: right;
    font: 12px/18px Tahoma !important;
    /* margin: 0 0 0 30px; */
    padding: 0px 0px 0px 25px; /*5px 5px 5px 25px;*/
}

#diagMsgsPanel {
    background-color: black;
    border: 2px red solid;
    color: yellow;
    font-weight: bold;
    cursor: pointer;
    padding: 1px;
    margin-top: -1px;
    float: right;
    padding: 1px;
    margin-right: 2px;
}

.diagMsgsWidgetLabel {
    font-weight: bold;
    background-color: #ccc;
    padding: 0px 8px 0 2px;
    white-space: nowrap;
}

.JoinedObj-pagination {
    padding: 4px;
    border-bottom: 1px solid #ccdaec;
    font: normal 11px Tahoma;
    /*font-weight: bold;*/
    color: #094F8B;
}

.JoinedObj-pagination tr td {
    font: normal 11px Tahoma;
}

.labelLinkWWJoinedObjs {
    cursor: pointer;
    color: #094F8B;
    margin: 0 5px 0 5px;
    border: dotted 1px #094F8B;
    padding: 2px 2px;
    display: inline;
}

.labelLinkWWJoinedObjs.BikButton-disabled {
    cursor: default;
}

.admin-fp  {
    float: left;
    /*    width: 790px;*/
    width: 100%;
    /*padding-bottom: 10px;*/
}
.admin-btn{
    cursor: pointer;
    float: right;
    padding-left: 5px;
}

.admin-lbl{
    display: inline;
    color: #094F8B;
}

.white-space-nowrap {
    white-space: nowrap;
}


/*------------------------------------*/
/* wzięte z standard.css z GWT >> start */

body, table td, select {
    font-family: Arial Unicode MS,Arial,sans-serif;
    font-size: small;
}
pre {
    font-family: "courier new",courier;
    font-size: small;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    color: black;
    direction: ltr;
    margin: 0;
    padding: 0;
}
a, a:visited, a:hover {
    color: #0000AA;
}

/* wzięte z standard.css z GWT << end */
/*------------------------------------*/

.inlineLbl{
    color: #0000AA;
    cursor: pointer;
    display: inline;
}

div.checkboxAttr {
    /*    padding:0 5px !important;*/
    width: 13px;
    height: 13px;
    margin:0;
    background: none !important;
    border: none !important;
    padding-top: 2px;

}

.AttrLbl {
    padding:0px;
    margin: 0 0 0 15px;
    color:#094f8b;
    font: normal 13px/19.2px sans-serif;
}
.AttrHeadLbl{
    background: none repeat scroll 0 0 transparent;
    /*    border-bottom: 1px solid #CCDAEC;*/
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    color:#094f8b;
    font-family:sans-serif;

}

.Tree-refreshTree{
    float: left;
    background: url("../images/refresh.png") no-repeat left center;
    padding:0px 5px 0px 20px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    margin: 0 10px 0px 0;
    cursor: pointer;
    margin:0;    
}

.CategorizedDict-add,
.Users-addUser,
.Tree-addTree,
.Fvs-fvs{
    float: left;
    background: url("../images/edit_2add.png") no-repeat left center;
    padding:0px 5px 0px 20px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    margin: 0 10px 0px 0;
    cursor: pointer;
    margin:0;
}
.Tree-editTree{
    float: left;
    background: url("../images/edit_gray.gif") no-repeat left center;
    padding:0px 5px 0px 20px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    margin: 0 10px 0px 0;
    cursor: pointer;
    margin:0;
}

.pop-menuItem-last-in-group {
    border-bottom: 1px solid #094F8A;
}

.tree-selector-hasChangeInNode {
    font-weight: bold;
    color: red !important;
}

.tree-selector-hasChangeInDescendants {
    font-weight: bold;
}

.tree-selector-hasJoinedNodesInDescendants {
    color: blue;
}

.tree-selector-isNodeOriginallyJoined {
    color: blue;
    font-style: italic;
}

.selectRolesScroll {
    margin: 0 0 0 20px;
}

.dqc-dateAdded {
    float: left;
    background: url("../images/clock.gif") no-repeat left center;
    padding:3px 5px 3px 20px;
    width: 150px;
}

.dqcMyBik-dateAdded {
    float: right;
    background: url("../images/clock.gif") no-repeat left center;
    padding:3px 5px 3px 20px;
    width: 120px;
}

.RelatedObj-oneObj-dqc .gwt-HTML
{
    /*    background-color: #f3f6fb;*/
    height: 15px;
    margin-top: 2px;
    white-space: nowrap;
    border-bottom: 1px solid #CCDAEC;
    font:bold 12px Tahoma;
    /* padding: 0 0 0 5px;*/
}

.News-padding {
    /*    background-color: #f3f6fb;*/
    height: 15px;
    margin-top: 2px;
    white-space: nowrap;
    border-bottom: 1px solid #CCDAEC;
    font:bold 12px Tahoma;
    /* padding: 0 0 0 5px;*/
}

.selectRoleInDialogPane {
    /*background-color: #DCEAFC;*/
    background-color: white;
}

.treeSelectorHeadLbl {
    padding: 4px;
    background-color: #c8c8c8;
}

table.BaseActionOrCancelDialogMain {
    padding: 2px;
}

.BaseActionOrCancelDialogFooterButtons {
    padding: 6px 2px 0px 2px;
}

.treeSelectorHeadLbl * div.followBtn {
    padding:0 0px !important;
    width: 16px;
}

.rightTreeLbl {
    margin:5px 0 0 5px;
}


.gp-html,.gp-label {
    /*font: bold 12px/12px Arial;*/
    margin:  4px 4px 4px 0px; /*4px 4px 4px 4px*/
}
.specBiPadding, .authorPadding {
    padding:0 5px;
}

.vPanelAdmin, .mainConnConf, .jdbcQueriesConf {
    color: #094F8A;
    font: 12px/14px Tahoma !important;
}
.vPanelAdmin input, .mainConnConf input, .jdbcQueriesConf input{
    border: 1px solid #CCDAEC;
    /*    width: 100%;*/
    color: #094F8A;
    font: 12px/14px Tahoma !important;
    padding: 4px !important;
}
/*mainConnConf*/
.vPanelAdmin h4{
    margin: 0;
    padding: 0;
    /*    color: #094F8A;
        font: 12px/14px Tahoma !important;*/
}
.mainConnConf .gwt-Label, .jdbcQueriesConf .gwt-Label , .SystemUserPageColor .gwt-Label {
    font-weight: bold;
}

.jdbcQueriesConf {
    padding: 10px;
}

.tittle-icon {
    float: right;
    width: 500px;
}

.dqc-chart div div div div table tbody tr td table tbody tr td{
    font-size: 7pt;
}

.arrowRight {
    background: url("../images/arrowr.gif") no-repeat scroll right center transparent;
    cursor: pointer;
    float: right;
    height: 36px;
    margin-top: 2px;
    padding: 0;
    width: 20px;
}

.arrowLeft {
    background: url("../images/arrowl.gif") no-repeat scroll left center transparent;
    cursor: pointer;
    float: left;
    height: 36px;
    /*    overflow: hidden;*/
    margin-top: 2px;
    padding: 0;
    width: 20px;
}

.innerTab{
    position: relative;
    overflow: hidden;
}

/*table.innerTab tbody tr td,
table.innerTab tbody tr td div.gwt-HTML {
    background: url("../images/innerTabnb6.gif") no-repeat left top;
}*/
table.innerTab tbody tr td div.gwt-HTML{
    background-position: right top;
}
table.innerTab tbody tr td,
table.innerTab tbody tr td div.gwt-HTML{
    background-color: transparent;
    color:#094f8b;/*#ACC3E2;*/
    height: 34px;
    font-weight: normal;
    font-size: 11px;
    cursor: pointer;
}

table.innerTab tbody tr td.active,
table.innerTab tbody tr td:hover,
table.innerTab tbody tr td.active .gwt-HTML,
table.innerTab tbody tr td:hover .gwt-HTML {
    background:url("../images/innerTabn.gif") no-repeat left top;
    color:#ffffff; /*#094f8b; lub ACC3E2*/
    height: 34px;
    font-size: 11px;
    cursor: pointer;
}

table.innerTab tbody tr td div.gwt-HTML,
table.innerTab tbody tr td.active .gwt-HTML,
table.innerTab tbody tr td:hover .gwt-HTML {
    background-position: right top;
    padding: 2px 8px 0px 0px;
    display: block;
    font-size: 11px;
}

table.innerTab tbody tr td,
table.innerTab tbody tr td:hover,
table.innerTab tbody tr td.active {
    padding: 0px 0 0 8px;
    font-size: 11px;
}

.Attr {
    float: left;
    width: 100%;
    clear: both;
    height: 25px;
    background-color: #CCDAEC;
    /*    border-bottom: 1px solid #094F8A;*/
}

.Attr .gwt-HTML{
    font-weight: bold;
    margin: 3px 0px 0px 5px;
}
.textTop{
    width:60px;
    vertical-align: text-top;
}

td.RelatedObj-oneObj-white-top,
td.RelatedObj-oneObj-grey-top
{
    vertical-align: top;/*text-top; */
}

td.RelatedObj-oneObj-white-middle,
td.RelatedObj-oneObj-grey-middle
{
    vertical-align: middle;/*text-top; */
}

.Roles {
    border-top: 2px solid #CCDAEC;
    width: 100%;
    padding-top: 2px;
}

.Roles-Checkbox{
    border-top: 2px solid #CCDAEC;
    width: 100%;
    padding-top: 2px;
    height: 24px;
    padding-top: 6px;
    padding-left: 5px;
}

.AttrLbl {
    padding:0px;
    margin: 0 0 0 15px;
    color:#094f8b;
    font: normal 13px/19.2px sans-serif;
}

.AttrRb {
    padding:0px;
    margin: 0 0 0 5px;
    color:#094f8b;
    font: normal 13px/19.2px sans-serif;
}


.RelatedObj-oneObj-User{
    /*    background-color: #f3f6fb;*/
    /*    height: 30px;*/
    margin-top: 2px;
    white-space: nowrap;
    border-bottom: 1px solid #CCDAEC;
    font:bold 12px Tahoma;
    width:100%;
    padding-bottom: 5px;
    vertical-align: middle;
    /* padding: 0 0 0 5px;*/
}

.gridDescendantJoinedObj {
    color: #094F8B;
    font: 12px/18px Tahoma;
    border-spacing:0px !important;
    /*    white-space: nowrap;*/
    padding: 0px 0px 0px 40px;
}

.News-lookNewsEntry {
    float: right;
    /*    background: url(../images/edit_2add.png) no-repeat left center;*/
    padding:0px 5px 0px 0px;  /* padding:5px 5px 5px 20px;*/
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    margin: 3px 0px 0px 0px; /*margin: 0 10px 0px 0;*/
    cursor: pointer;
}

.Ignore-IgnoreAll {
    float: right;
    background: url("../images/ignore.gif") no-repeat left center;
    padding:5px 5px 5px 20px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    margin: 0 10px 0px 0;
    cursor: pointer;
}

.Delete-Element {
    text-align: center;
    clear: both;
    margin: 10px 0;
}
.Delete-Element img {
    padding:0 4px;
    vertical-align: sub;
}

.Tutorial-radioBtn {
    margin-right: 30px;
}

.Tutorial-line{
    padding: 3px;
    vertical-align: middle;
    float: left;
    cursor: pointer;
    /*text-decoration: line-through;*/
}

TABLE.RelatedObj-oneObj-grey-rank {
    background-color: #f3f6fb;
}

.RelatedObj-oneObj-grey-rank {
    background-color: #f3f6fb;
}

.rank-header-row {
    background-color: #094F8A;
    height: 24px;
    color: #ffffff;
}

.MyBIKS-caption{
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCDAEC;
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    padding: 10px 10px 0px 0;
    margin-left: 10px;

}
.MyBIKS-HTML{
    font-family: Tahoma;
    font-weight: normal;
    font-size: 14pt;
}


.helpBtn {
    padding:0 5px !important;
    width: 22px;
    background: none !important;
    border: none !important;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}


.Rank-Users {
    /*padding: 3px 5px;*/
    padding: 3px 0px 3px 3px;
    text-align: right;
}

.Rank-Users-Gp .gwt-Label
{
    /*    background-color: #f3f6fb;*/
    height: 15px;
    margin-top: 2px;
    white-space: nowrap;
    border-bottom: 1px solid #CCDAEC;
    font:bold 12px Tahoma;
    /*margin-left: -3px;*/
    /* padding: 0 0 0 5px;*/
}

.Rank-Users-Gp-Label{
    height: 15px;
    margin-top: 2px;
    white-space: nowrap;
    border-bottom: 1px solid #CCDAEC;
    font:bold 12px Tahoma;
    padding:0px 5px 0px 10px;
}

.tittle-rank {
    float: left;
    /*width: 213px;*/
}

.RankIcon{
    padding: 3px 0px 3px 0px;
    margin-left: -10px;
}

.runPageText {
    color: #0000FF;
    cursor: pointer;
}

.welcomeUserLogin {
    font-weight: bold;
}

div.MyBIKHomePage-followBtn{
    padding:0 5px 0 0 !important;
    width: 22px;
    margin:0;
    background: none !important;
    border: none !important;
}

.MyBIKHomePage-links {
    color: #094F8A;
    font: 12px/18px Tahoma !important;
}

.testmp {
    background: url("../images/link_arrows.gif") no-repeat left center;
    padding: 0 0 0 10px;
}


.RightRoleLabel{
    padding: 2px 10px 2px 10px;
    color: #094F8B;
    font: 12px/18px Tahoma;
    cursor: pointer;

}

.FilteringListBox{
    margin: 3px 10px 0px 10px;
    color: #094F8B;
    font: 12px/18px Tahoma;
    /*    background-color: white;*/
    width: 150px;
    border-radius: 2px 2px 2px 2px;
}

.SystemUserPageCaption{
    padding: 6px 0 2px 5px;
    color: #094F8B;
    font: bold 12px/18px Tahoma;
}

.SystemUserPageColor{
    background-color: #F3F6FB;
}

.SystemUserPageAddUser{
    /*    vertical-align: bottom;*/
    margin-bottom: 20px;
}

.SystemUserPageFilterBox {
    margin:3px 10px 0px 10px;
    /*    padding:;*/
    color: #094f8b;
    /*    border: 1px solid #ccdaec;*/
    padding: 0px 2px 0px 2px;
    width: 144px;
    height: 17px;
    border: 1px solid #094F8B;
    border-radius: 2px;
}
.SystemUserPageFilterPushButton {
    margin:5px 6px 3px 6px;
    cursor: pointer;
}

.SystemUserColumnTypeWithSort{
    padding: 2px 0 0 0;
    margin:0;
    /*    height: 30px;*/
    border:0 !important;
    cursor: pointer !important;
    background: none !important;
    vertical-align: middle !important;
}
.SystemUserColumnTypeWithoutSort{
    padding: 2px 0 1px 0;
    margin:0;
    border:0 !important;
    background: none !important;
    vertical-align: middle !important;
}
.SystemUserColumnName{
    padding: 2px 2px 0 2px;
    height: 20px;
}

.SystemUserArrows{
    padding-bottom: 1px;
}

.dictionaryTb {
    width: 240px;
}

/*ww: opcjonalny styl dla np. GenericBeanGridWidget
  robi odstępy dla komórki
*/
tr.paddedCells td {
    padding: 3px 2px;
}

.SystemUserPageTreeOfTrees {
    margin:3px 10px 0px 10px;
    color: #094f8b;
    border: 1px solid #094F8B;
    border-radius: 2px;
    background-color: white;
}

.localeLangSelector {
    color: #094f8b;
    /*    float: right;*/
    margin: 0 4px 0 6px;
    border-right: dotted 1px #094f8b;
    padding: 0 4px 0 4px;
    display: inline;
}

.localeLangSelector.inactive {
    cursor: pointer;
}

.localeLangSelector.active {
    background-color: #ddd;
}

.localeLangSelector.inactive:hover {
    background-color: #bbb;
}

/*DateBoxPopup musi byc wyzej niz GlassPanel->800086*/
.dateBoxPopup {
    z-index: 800090;
}

.scrollPanelMaxHight{
    max-height: 250px;
    padding-right: 25px;
}

.lisaDictHeader{
    background-color: #DDDDDD;
    white-space: nowrap;
}

.notificationLabel {
    text-align:center;
    border: solid;
    border-width: 3px;
    font-weight: bold;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 2px;
}

.infoNotification {
    background-color: #36e97d;
    border-color: #36e97d;
}

.errNotification {
    background-color: #da4545;
    border-color: #da4545;
}

.dialogNotificationContainer {
    margin-top: 3px;
    white-space: nowrap;
}

.multixRegistrationPanel {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 5px solid #CCDAEC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    /*    margin-top: 2em;*/
}

/* BigFlowPanel tło dla formularza logowania */
.bfpl {
    width: 100%;
    height: 100%;
    background-color: #D7E9FF;
    /*    vertical-align: middle;*/
    border-bottom: 10px solid #094F8A;
}
.bfpl tr td {
    vertical-align: middle !important;
}
/*.bfpl tr td div {
    margin-top:-10%;
}*/
/*.bfplLogoinForm, .multixRegistrationPanel {
    background-color: #fff;
    border: 5px solid #CCDAEC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    margin-top: auto;
}*/
.inline {
    display:inline;
}

.actionHtml {
    margin-left: 10px !important;
}

.resetBtn {
    margin: 0 10px 10px !important;
}

.inviteUsersMain {
    text-align: center;
}

.inviteUsersMain table{
    width: 100%;
    text-align: center;
}

.inviteUsersMain .gwt-Label {
    width: 200px;
}

.fieldRequired {
    border-color: red;
}

.contextLb {
    margin: 0 10px;
}

.backgroundRed {
    /*background-color: #ff0000;*/
    background-color: #ff4040;
}

.backgroundGreen {
    /*background-color: #00ff00;*/
    background-color: #39E639;
}

.backgroundGray {
    /*background-color: #00ff00;*/
    /*background-color: #DFE7C0;*/
    background-color: #BBBBBB;
}

.superBorderForChuck {
    padding: 0;
    /*    border-width: 1px;
        border-color: #FFFFFF;*/
    border: 5px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.leftRightBorder {
    /*border-left: 2px solid #fff;*/
    /*border-right: 2px solid #fff;*/
    border: 1px solid #fff;
    margin: 0 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.marginStyle {
    margin: 5px;
}

.lisaDictHeaderGrid{
    color: #4B4A4A;
    overflow: hidden;
    padding: 3px 15px;
    text-align: left;
    text-shadow: 1px 1px 0 #DDDDFF;
}

.lisaDictHeaderGrid td{
    border-bottom: 2px solid #6F7277 !important;
    background-color: white !important;
}

.lisaDictGrid{

}

.lisaDictGrid td{
    border-bottom: 1px solid #F0F0F0;
}


.lisaDictGrid .textBox-readonly {
    border: 0 none !important;
    background-color: inherit;
}

.lisaDictGrid .textBox {
    background-color: inherit;
    border: 1px #c8c8c8 solid;
    border-radius: 2px;
}

.lisaDictGrid .dateBoxPopup-readonly {
    border: 0 none !important;
    background-color: inherit;
}

.lisaDictGrid .dateBoxPopup {
    border: 0 none;
    background-color: inherit;
    border: 1px #c8c8c8 solid;
    border-radius: 2px;
}

.lisaDictGrid .odd{
    background-color: #F3F7FB;
}

.lisaDictGrid .even{

}

.cellWithPadding {
    padding-left: 2px;
    padding-right: 2px;
}

.cellWithPaddingWithTable {
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid #8faed6
} 

.tableHeaderStick {
    height: 100%
}

.tableHeaderStick div {
    height: 100%;
}

.dataModel{
    font-size:1em;
}

.dialogTable {
    background-color: #82A0DC;
    /*border-radius: 4px;
    box-shadow: 2px 2px black;*/
    z-index: 4;
    color: white;
    font: 13px/19.2px sans-serif;

}
/*
.gwt-DecoratorPanel .topLeft {
  line-height: 0px;
  background: url(images/circles.png) no-repeat 0px -6px;
  -background: url(images/circles_ie6.png) no-repeat 0px -6px;
}
*/
.dialogTable .topLeft{
    background: url(../images/Erwin/tableDatModelTL.png) no-repeat;
    height: 5px;
    width: 5px;
}

.dialogTable .topRight{
    background: url(../images/Erwin/tableDatModelTR.png) no-repeat;
    height: 5px;
    width: 5px;
}

.dialogTable .middleRight{
    background: url(../images/Erwin/tableDatModelR.png) repeat-y;
}

.dialogTable .bottomRight{
    background: url(../images/Erwin/tableDatModelBR.png) no-repeat;
    height: 5px;
    width: 5px;
}

.dialogTable .bottomLeft{
    background: url(../images/Erwin/tableDatModelBL.png) no-repeat;
    height: 5px;
    width: 5px;
}

.dialogTable .bottomCenter{
    background: url(../images/Erwin/tableDatModelB.png) repeat-x;
}

.dialogTable-active {
    background-color: #094F8A;
    /*border-radius: 4px;
    box-shadow: 2px 2px black;*/
    color:  #F0F0F0 ;
}

.dialogTable-active .topLeft{
    background: url(../images/Erwin/tableDatModelActive.png) no-repeat ;
    height: 5px;
    width: 5px;
}

.dialogTable-active .topRight{
    background: url(../images/Erwin/tableDatModelActive.png) -6px 0px no-repeat ;
    height: 5px;
    width: 5px;
}

.dialogTable-active .bottomRight{
    background: url(../images/Erwin/tableDatModelActive.png) -6px -6px no-repeat ;
    height: 5px;
    width: 5px;
}

.dialogTable-active .bottomLeft{
    background: url(../images/Erwin/tableDatModelActive.png) 0px -6px no-repeat ;
    height: 5px;
    width: 5px;
}

.dialogTable-active .middleRight{
    background: url(../images/Erwin/tableDatModelActiveR.png) repeat-y;
}

.dialogTable-active .bottomCenter{
    background: url(../images/Erwin/tableDatModelActiveB.png) repeat-x;
}

.dialogTable .dialogTitle{
    text-align: center;
    color: #000000;
    margin-left:5px;
    margin-right:5px;
    font-weight:bold;
}

.dialogTable:hover{
    background-color: #82A0DC;
    /*border-radius: 4px;
    box-shadow: 2px 2px 2px 1px black;*/
}

.dialogTable:hover .topLeft{
    background: url(../images/Erwin/tableOverDatModelTL.png) no-repeat;
    height: 5px;
    width: 6px;
}

.dialogTable:hover .middleRight{
    background: url(../images/Erwin/tableOverDatModelR.png) repeat-y;
}

.dialogTable:hover .topRight{
    background: url(../images/Erwin/tableOverDatModelTR.png) no-repeat;
    height: 5px;
    width: 10px;
}

.dialogTable:hover .bottomCenter{
    background: url(../images/Erwin/tableOverDatModelB.png) repeat-x;
}

.dialogTable:hover .bottomRight{
    background: url(../images/Erwin/tableOverDatModelBR.png) no-repeat;
    height: 10px;
    width: 10px;
}

.dialogTable:hover .bottomLeft{
    background: url(../images/Erwin/tableOverDatModelBL.png) no-repeat;
    height: 10px;
    width: 6px;
}

.dialogTable .columnsTable{
    padding: 0px;
}


.dialogTable .columnsTable .dialogTableColumn-active{
    color:  #C00000;
    margin-bottom: -1px !important;
    margin-top: -1px !important;
    text-shadow: #094F8A 0.1em 0.1em 0.2em;
    font-style:italic;
}


.processTable {
    /* background-color: #33CC33; */
    border-radius: 4px;
    box-shadow: 2px 2px #336666;
    margin: 3px;
}
.onlyLeftmargin {
    margin: 0 0 0 20px;
}

.mouseOverText {
    text-decoration: underline;
}

.seperator-column {
    border-left: 3px solid gray;
    cursor: col-resize !important;
}

.dataGrid-cc {
    border-top: 1px solid gray;
    position: fixed;
}

#dropDownMenu {
    /*   z-index: 999;*/
    visibility: hidden;
    right: 215px;
    position: absolute;
    z-index: 999;
    padding-top: 5px;
}

.drop_menu {
    padding: 0px;
    margin: 0px;
    list-style:none;
    float: right;
}

.drop_menu li {
    float:left;
    position: relative;
}

.drop_menu li a {
    display:block;
    /*color:#fff;*/
    color:#094F8B;
    text-decoration:none;
    /*padding-top: 5px;*/
    /*height: 25px;*/


    /*color: #FFFFFF;*/
    /*display: block;*/
    /*float: left;*/
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 30px;
    line-height: 33px;
    /*    margin: 0;
        padding: 0 10px 0 0;*/
    text-shadow: 0 -1px 0 #8FADD1;
    width: 40px

}

.drop_menu ul {
    position:absolute;
    left:-9999px;
    top:-9999px;
    list-style:none;
    padding: 0;
}
.drop_menu li:hover {
    position:relative;
}

.drop_menu li:hover ul {
    left:-160px;
    top: 25px;
}

.drop_menu li:hover ul li a {
    display:block;
    width:200px;
    /*background: url("../images/mainBgShadow30.gif") repeat-x ;*/
    background-color: #a4bddb;
}

.drop_menu li:hover ul li a:hover {
    background:#094F8A;
    color: #FFFFFF;
}

#extendedMenu li a {
    line-height: 30px;
    height: 30px;
}

#menuWrapper {
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    /*    margin-left: 1px;*/
    /*    display: inline;*/
    /*    float: left;*/
}

.customRightRole, .customRightRole td, .customRightRole div, .customRightRole span {
    background-color: #f3f6fb;
}

table.sysUserDialog {
    border-spacing: 0px;
}

table.sysUserDialog tr td {
    padding: 2px;
}


.wwNewTree .node-has-selected-descendants label {
    color: blue;
    font-weight: bold;
}
.inlinleLabelAnch{
    color: blue;
    font-weight: bold;
}

.sysUsrDialogDisabled td {
    border-top: 1px solid #aaa;
}

.dqmScheduleGrid td {
    padding: 5px;
}

.dqmScheduleGrid tr.evenTestRow td {
    background-color: #f4f4f4;
}

span.radioButtonBlack label {
    color: black;
}

div.label-inline {
    float: left;
    margin: 4px 14px 2px 12px;
}

div.label-inline-close {
    float: left;
    margin: 4px 7px 0px 12px;
}

.exportCsv{
    float: right;
    background: url("../images/export.png") no-repeat left center;
    padding: 0 10px 0 28px;
    /*min-width: 90px;*/
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    height: 19px;
    margin-top: 1px;
    cursor: pointer;
}

.doitBtn {
    float: right;
    background: url("../images/accept.gif") no-repeat left center;
    padding: 0 0px 0 30px;
    /*min-width: 90px;*/
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    height: 19px;
    margin-top: 1px;
    cursor: pointer;
}

.importCsv{
    float: right;
    background: url("../images/import.png") no-repeat left center;
    padding: 0 10px 0 28px;
    /*min-width: 90px;*/
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    height: 19px;
    margin-top: 1px;
    cursor: pointer;
}

.paddingBottom8px {
    padding-bottom: 8px;
}

.JoinedObjChangedViewFp{
    float: right;
    margin-right: 5px;
}

.viewRb{
    padding-top: 3px;
    cursor: pointer;
}

.dqmAttrNameLink {
    font-size: 15px;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.dqmTestsInAttr {
    margin-left: 20px;
}

.DqmAtrybutyJakosciDanychHeader div {
    font-size: 17px;
    font-weight: bolder;
}

.testWidgetUp, .testWidgetDown {
    padding: 4px;
}

.testWidgetDown {
    /* padding-left: 40px;
    padding-right: 40px;*/
    width: 220px;
}

.testWidgets-noActiveTests {
    margin-top: 4px;
    margin-bottom: 4px;
}

div.fts_similarWordsContainer {
    border: 1px solid #acc3e2;
    padding: 2px;
    max-height: 76px;
    overflow: auto;
}

span.fts_similarWordBox {
    margin: 0px 2px 2px 2px;
    /*background-color: #ff8040;*/
    background-color: #acc3e2;
    padding: 1px;
    cursor: default;
    /*font-size: 12px;
    line-height: 16px;*/
    /*white-space: nowrap;*/
    display: inline-block;
}

.fts_similarWordBox .fts_word, .fts_similarWordBox .fts_usageCnt, .fts_similarWordBox .fts_weight, .fts_similarWordBox .fts_usageCnt {
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #eee;
    line-height: 22px;
}

.fts_similarWordBox .fts_adjustWeightBtn {
    background-color: #ddd;
}

.fts_similarWordBox .fts_usageCnt:before {
    content: "(";
}

.fts_similarWordBox .fts_usageCnt:after {
    content: ")";
}

.fts_adjustWeightBtn {
    cursor: pointer;
}

.fts_incWeight:before {
    content: "[+]";
}

.fts_decWeight:before {
    content: "[-]";
}

.fts_similarNodes td {
    cursor: default;
}

.fts_similarNodes tr:hover {
    background-color: #f0f0f0;
}

table.fts_similarNodes tr.fts_selectedNode {
    background-color: #ccc;
}

table.fts_similarNodes {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-spacing: 0px;
}

table.fts_similarNodes tr td img {
    padding: 3px;
}

tr.fts_similarNodes_row_even  {
    background-color: #f3f6fb;
}

.dqmReportGrid td {
    padding: 5px;
}

.dqmReportGrid tr.evenGroupRow td {
    background-color: #f4f4f4;
}

div.fts_spLeft {
    border: 1px solid #acc3e2;
}

.backgroundWhite {
    /*background-color: #00ff00;*/
    background-color: #fff;
}

.RelatedObj-oneObj-selected {
    /*background-color: #FE6;*/
    background-color: #ACC3E2;
    padding:3px 5px 3px 10px;
}
.testLbl{
    color:#fff;
    text-align: center;
}
.treeLbl{
    color: #094F8A;
    font:  bold 11px Tahoma;
    vertical-align: middle;

}

.buttonAsTabActive {
    background: url(../images/tab_active.png) no-repeat;
    width: 100px;
    height: 22px;
    text-align: center;
    font-weight: bold;
    color: black;
    cursor: pointer;

    padding: 0;
    border:none;
    display: inline-block;
    zoom: 1;
    *display:inline;
}

.buttonAsTabUnActive {
    background: url(../images/tab_unactive.png) no-repeat;
    width: 100px;
    height: 22px;
    text-align: center;
    font-weight: bold;
    color: black;
    cursor: pointer;

    padding: 0;
    border:none;
    display: inline-block;
    zoom: 1;
    *display:inline;
}

.borderBotton {
    border-bottom: 2px solid #92C1F0;
}

.filterIsOn {
    color: #f0f;
    font-weight: bold;
}

.similarObject {
    color: coral;
    /*font-weight: bold;*/
}

.similarFvs{
    height: 60px;
    font-weight: bold;
}


.FvsKind {
    float: left;
    padding:0px 0px 10px 0px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    margin: 0 10px 0px 0;
}


.Fvs-filters {
    /*    margin:0 10px;*/
    padding: 0px 4px 5px;
    /*border-bottom: 1px solid #ccdaec;*/
    /*    width: 791px;*/
    /*    display: block;
        float: left;*/
}

.Fvs-filters tr td {
    font: normal 11px Tahoma;
    color: #666;
}
.MyBIKAvatarPanelEditUser tbody tr td span.gwt-CheckBox
{
    margin: -4px;
}
.MyBIKAvatarPanelEditUser tbody tr td span.gwt-CheckBox input#gwt-uid-24,
.MyBIKAvatarPanelEditUser tbody tr td span.gwt-CheckBox label{
    vertical-align: middle;
    font:  normal 12px/18px Tahoma !important;
    color: #094F8A;

}

.SuggestedElement {
    float: left;
    padding:10px 0px 10px 10px;
    color: #094F8A;
    font: 12px/18px Tahoma !important;
    margin: 0 10px 0px 0;
}

.Suggested-caption{
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #CCDAEC;
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    padding: 10px 10px 0px 0;

}

.BIAdmin{
    float: right;
    padding-right: 5px;
}

.BIAdmin-none {
    /*cursor: pointer;*/
    float: left;
    font: normal 16px/18px Tahoma;
    margin: 3px 4px 0px 18px;
}

.divContentEditable{
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px; 
}

table.tableAsInlineDiv tbody tr td{
    padding-right: 10px;
}
.biAdminSchedule {
    color: #094f8b;

}
.biAdminScheduleBold{
    color: #094f8b;
    font-weight: bold;
    width: 130px;
}

.erwinProcessTypeCell {
    border: 2px solid #000;
    height: 20px;
    width: 30px;
    margin: 0 5px 0 5px;
    text-align: center;
}

.attributeJoinedObjs{
    color:#094F8B;
    text-decoration:none;
    margin-bottom: 30px;
    width: 100%;
}
.attributeJoinedObjs td{
    text-align: center;
}

.actionListBox {
    float:right;
    height: 21px;
}


.queryBlock{
    margin-left: auto;
    margin-right: auto;
}
.tdPadding {
    padding-bottom: 2px;
    padding-top: 2px;
    padding: 4px !important;
}

.imgButton{
    cursor: pointer;
}

.childrenTable {
    width: 100%;
    vertical-align:top;
}

.userDisabled{
    color: lightgray;
}

.boldText{
    color: #094F8A;
    font-weight: bold;
}

.BikLabelClickable{
    /*cursor: pointer;*/
    display: inline;
}

.hidden {
    display: none;
}
.borderBottom {
    border-bottom: 1px solid #D0E4F6;
    padding-bottom: 2px;
}

.searchBtn {
    background: url("../images/searchBtn.gif") no-repeat scroll left center transparent;
    color: #094F8A;
    cursor: pointer;
    float: right;
    font: 12px/18px Tahoma !important;
    padding: 0px 0px 0px 24px;    
    padding-bottom: 25px;
    margin-bottom: 2px;

}

.queryBlockW{
    width:948px;
    padding-top: 10px;
    border-top: 1px solid #CCDAEC;
}

.addAttrToSearch {
    background: url("../images/plus.png") no-repeat scroll left center transparent;
    color: #094F8A;
    cursor: pointer;
    float: left;
    vertical-align: middle;
    font: normal 11px Tahoma;
    color: #094F8A;
    padding: 0px 0px 0px 20px;   
    padding-top: 5px;
    /*padding-top: 5px;*/
}

.dartAtSearch {
    background: url("../images/dartAt.png") no-repeat scroll left center transparent;
    color: #094F8A;
    cursor: pointer;
    float: left;
    vertical-align: middle;
    font: normal 11px Tahoma;
    color: #094F8A;
    padding: 0px 0px 0px 20px;   
    padding-top: 5px;
    width:600px;
    /*padding-top: 5px;*/
}

.dartDownSearch {
    background: url("../images/dartDown.png") no-repeat scroll left center transparent;
    color: #094F8A;
    cursor: pointer;
    float: left;
    vertical-align: middle;
    font: normal 11px Tahoma;
    color: #094F8A;
    padding: 0px 0px 0px 20px;   
    padding-top: 5px;
    width:600px;
}
.lblSearch{
    cursor: pointer;
    font: normal 11px Tahoma;
}


.attributeChildren {
    cursor: pointer;
    color: #094F8B;
    /*font: 12px/18px Tahoma;*/
    display: inline;
}

.Attr-Inline{
    display: inline;
}

.ChildrenFp{
   margin-top: 3px;
   margin-bottom: 3px;
   }