/*********************
 * Grid panel styles
 */

/* GridPanel table styles */
.advanced-GridPanel {
    background-color: white;
    /*border-collapse: collapse;*/
}

/** GridPanel sections styles */
.advanced-GridPanel td {
    padding: 0;
}

/* GRidPanel top subpanel styles */
.advanced-GridPanel .top-panel, .advanced-GridPanel .bottom-panel {
    width: 100%;
}

.advanced-GridPanel .top-panel td, .advanced-GridPanel .bottom-panel td {
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    padding-top: 1px;
    padding-left: 1px;
}

.advanced-GridPanel .bottom-panel {
    border-bottom: 1px solid #808080;    
}



/*********************
 * Pager styles
 */

/** main Pager panel styles */


/** nested table styles */

/** nested table cells styles */
.advanced-Pager td {
    padding: 0 4px;
}

.advanced-GridPanel .top-panel .advanced-Pager td,
    .advanced-GridPanel .bottom-panel .advanced-Pager td{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}


/*********************
 * Grid styles
 */

/** main flex table styles */
.advanced-Grid {
    padding: 2px 2px 2px 2px;
    font-family: sans-serif;
    font-size: 12px;
    width:100%;
    font-weight: normal;
    color: black;
}

/** flex table cells styles */
.advanced-Grid td, .advanced-Grid .subgrid-row .advanced-FocusPanel td {
}

/** flex table header styles */
.advanced-Grid thead {
    background: white;
}

/** flex table head cells styles */
.advanced-Grid th {
    border: 1px solid white;
    border-right-color: #808080;
    border-bottom-color: #808080;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    background: #d4d0c8;
}

.advanced-Grid th .gwt-Label {
    height: 19px;
    padding: 3px 0;
}

/** data cells nested panel styles (if editable) */
.advanced-Grid .editable-cell {
    cursor: pointer;
}

/** data cells nested panel styles (if readonly) */
.advanced-Grid .readonly-cell {
    cursor: default;
}

/** header cells nested panel styles */
.advanced-Grid .header-cell {
    text-align: center;
    vertical-align: middle;
    border: 0;
}

/** header cells nested panel table styles */
.advanced-Grid .header-cell table {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    display: inline;
}

/** header cells nested panel table styles */
.advanced-Grid .header-cell td {
    text-align: center;
    height: 100%;
    border-bottom: 0;
}

.advanced-Grid .header-cell div {
    white-space: nowrap;
}

.advanced-Grid .header-cell img {
    margin-left: 3px;
    margin-bottom: 3px;
    width: 9px;
    height: 5px;
}

/** header sortable cells nested panel styles */
.advanced-Grid .sortable-header table {
    cursor: pointer;
}

/** header non-sortable cells nested panel styles */
.advanced-Grid .non-sortable-header, .advanced-Grid .sortable-header  {
    cursor: default;
}

/** grid selected row styles */
.advanced-Grid .selected-row {
    background-color: #0a246a;
    color: white;
}

/** grid selected cell styles */
.advanced-Grid .selected-column {
}

/** grid selected cell */
.advanced-Grid .selected-cell {
    border: 1px dotted white;
}

/** grid column styles */
.advanced-Grid .grid-column {
}

/** data cell nested panel styles */
.advanced-Grid .data-cell {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    /*color: black;*/
    padding-left: 1px;
    padding: 0;
    
}

/** data cell nested panel styles (if active) */
.advanced-Grid .active-cell {
    background-color: white;
    padding: 0;
}

/** input controls styles */
.advanced-Grid .active-cell input {
    width: 100%;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 13px;
}

/** select box controls styles */
.advanced-Grid .active-cell select {
    width: 100%;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    border: 0;
    padding: 0;
    background-color: transparent;
}

/** data cell nested panel styles (if passive) */
.advanced-Grid .passive-cell {
    background-color: transparent;
    border: 0;
    padding: 1px;
}

/** textual cell additional styles */
.advanced-Grid .text-cell {
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

/** textual cell additional styles */
.advanced-Grid .text-cell div {
    white-space: nowrap;
    vertical-align: middle;
}

/** numeric cell additional styles */
.advanced-Grid .numeric-cell {
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}

/** numeric cell additional styles */
.advanced-Grid .numeric-cell div {
    white-space: nowrap;
    vertical-align: middle;
}

/** list cell additional styles */
.advanced-Grid .list-cell {
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

/** list cell additional styles */
.advanced-Grid .list-cell div {
    white-space: nowrap;
    vertical-align: middle;
}

/** image cell additional styles */
.advanced-Grid .image-cell {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/** boolean cell additional styles */
.advanced-Grid .boolean-cell {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/** date cell additional styles */
.advanced-Grid .date-cell {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

/** date cell additional styles */
.advanced-Grid .date-cell div {
    white-space: nowrap;
    vertical-align: middle;
}

/** subtree pager left arrow style */
.advanced-Grid .subtree-pager .arrow-left {
    background: transparent;
}

/** subtree pager right arrow style */
.advanced-Grid .subtree-pager .arrow-right {
    background: transparent;
}

.advanced-Grid .subtree-pager .gwt-Image {
    width: 0;
    height: 0;
}

.advanced-Grid .subtree-pager td {
    width: 7px;
    height: 7px;
    cursor: pointer;
}

/*********************
 * Subgrid styles
 */

/** expandable cell styles */
.advanced-Grid .expandable-cell table {
    width: 100%;
}

/** expandable cell styles */
.advanced-Grid .expandable-cell td {
    border: 0;
    padding-left: 3px;
}

.advanced-Grid .selected-row .expandable-cell .gwt-Label {
    color: white;
}

.advanced-Grid .expandable-cell img {
    background-color: white;
}

/** subgrid row styles */
.advanced-Grid .subgrid-row td {
}

/** subgrid cell styles */
.advanced-Grid .subgrid-cell .advanced-GridPanel {
    margin-left: 15px;
}

/** footer styles */
.footer-table-cell .advanced-Grid td {
    font-weight: bold;
}



/** main combo box style */
.advanced-Grid .advanced-TextButtonPanel {
    border: 0;
    padding: 0;
}


/** layout styles */
.advanced-Grid .advanced-TextButtonPanel table {
    height: 13px;
}

/** common layout cell styles */

/** common layout cell styles */
.advanced-Grid .advanced-TextButtonPanel td, .advanced-Grid .subgrid-row .advanced-FocusPanel .advanced-TextButtonPanel td {
    border: 0;
    padding: 0;
    vertical-align: middle;
}



.advanced-Grid .selected-value {
    border: 0;
    height: 13px;
}

/** selected text box style */
.advanced-TextButtonPanel .selected-row {
    background-color: #D7E9FF;
}



.advanced-Grid .choice-button {
    height: 13px;
    width: 16px;
    overflow: hidden;
    margin-right: 5px;
}

/** button image styles */
.advanced-Grid .advanced-TextButtonPanel img {
    position: relative;
    top: -3px;
}

