<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">This material contains information on the possibilities of BIKS text editor with examples of use.</p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">We add definitions using the <i>add definition</i> function available under the right mouse button. After selecting this option an editing window appears. You can enter a text manually or paste a previously copied text into the editor. </p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">The editor allows (Figure 10.1) <i>bold text, underlining, italics, strikethrough</i>. The <i>remove formatting</i> button allows you to remove these effects. We may also decide on the alignment of the text. </p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">There is also an option of <i>indexing</i> available. It is realized by two icons. A subscripts and a superscript can be inserted. We can also separate parts of text by inserting <i>a horizontal line. Numbering</i> and <i>bulleting</i> of the text is available.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">We can add images in two ways. The first is to add an image from a www by entering it's URL. The second is to insert an image from disc space via searching.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Another functionality is the possibility to add tables. First the number of columns and rows in a table must be declared, then the blanks filled with content. The editor makes it possible to modify the size of the table.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">We can also insert a <i>code</i>. In this area text formatting is similar to formatting text in a queries editor. This serves to highlight fragments containing elements of the code.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">At any time we can return to edit mode. </p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">An additional functionality of the editor is creating links. A part of a definition's text can be a link to a website. To achieve this we mark the selected text and type the URL to which we want to invoke to. It is also possible to connect part of text with any element contained in the BIKS application. To do this we need to select a text and look for the element we want to link with it. Selected fragments will have a different font color which will suggest that they are so called references. In a Review mode the highlighted fragments move to a previously declared location. The list of references to BIKS objects is automatically added under a <i>See Also</i> headline. Linking text with BIKS objects is added automatically in the associations panel. </p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">If a definition contains a lot of text we can insert <i>a table of contents</i>, which moves to the desired fragment in the text. First we must select headwords to appear in the table of contents and using the <i>insert header</i> icon make them headlines. This changes the formatting of the selected text. After selecting all the elements we set the cursor at the point we want to insert the <i>table of contents</i> and click on the icon with table of contents, then save the changes.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">With the table of contents we can easily and quickly access the part of text we are interested in.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_115296931263397198.png"><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Figure 11.1. Text editor functionalities.</p>
</blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p></p>
