<p></p>
An expert can perform steps shown in the film for all content; an author can add, edit and delete only the content he was given authorization to.
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">We add news in the <i>My BIKS</i> tab. In order to do this we need to choose the <i>News</i> tab. The procedure of adding news is similar to adding a definition (see: BI Knowledge System - adding and editing definitions). It is added by using the <i>Add news</i> icon (Figure 7.2). Pressing the icon opens a window where you enter the title and content of the news and then save your changes.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_145412341034124112.png"><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Figure 7.2. Exemplary view of the <i>My BIKS module.</i></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">The added news is displayed in the profile of every BIKS user. The title in bold and a <i>New</i> symbol next to the news means that it has not yet been read. If someone modifies an entry it is treated as new and goes to the beginning of the list. With the help of the edit button available on the right side of the screen we can edit the added news or delete it by clicking on the trash icon.</p>
<p></p>
