<p>This range of functionalities is assigned to users with author or expert competencies. </p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Attributes are added to elements descriptions visible in the tree panel. This is done by using the <i>Add Attribute</i> icon visible in the lower left corner of the properties panel (Figure 7.1). The presence of this icon is optional as not every object must have attributes. The administrator decides of its existence. After clicking on the icon a box with a drop-down list appears and a name of the attribute you want to add needs to be chosen.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br> </p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_6871046713386902091.png"><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Figure 8.1. Exemplary view of the <i>Library module</i>.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">There are different types of attributes:</p>
<p></p>
<p></p>
<ol style="margin-top: 0pt; margin-bottom: 0pt; "><li style="list-style-type: decimal; background-color: transparent; vertical-align: baseline; margin-left: 24px; "><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Date - where you select a date from the calendar.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_1249575244390942717.png"><br></p>
</li></ol><p></p>
<p></p>
<ol start="2" style="margin-top: 0pt; margin-bottom: 0pt; "><li style="list-style-type: decimal; background-color: transparent; vertical-align: baseline; margin-left: 24px; "><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Long text - the procedure for adding an attribute is the same as for adding a definition.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_9200887028459721139.png"><br></p>
</li></ol><p></p>
<p></p>
<ol start="3" style="margin-top: 0pt; margin-bottom: 0pt; "><li style="list-style-type: decimal; background-color: transparent; vertical-align: baseline; margin-left: 24px; "><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Short text - to be filled in the visible field.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_8016308125063520185.png"><br></p>
</li></ol><p></p>
<p></p>
<ol start="4" style="margin-top: 0pt; margin-bottom: 0pt; "><li style="list-style-type: decimal; background-color: transparent; vertical-align: baseline; margin-left: 24px; "><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Short text - to be filled in the visible field.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_3250066301854180652.png"><br></p>
</li></ol><p></p>
<p></p>
<ol start="5" style="margin-top: 0pt; margin-bottom: 0pt; "><li style="list-style-type: decimal; background-color: transparent; vertical-align: baseline; margin-left: 24px; "><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">External Link -  where we enter a URL in the visible field. </p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_1078010854952363223.png"><br></p>
</li></ol><p></p>
<p></p>
<ol start="6" style="margin-top: 0pt; margin-bottom: 0pt; "><li style="list-style-type: decimal; background-color: transparent; vertical-align: baseline; margin-left: 24px; "><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">A single choice field.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_6952492918251341573.png"><br></p>
</li></ol><p></p>
<p></p>
<ol start="7" style="margin-top: 0pt; margin-bottom: 0pt; "><li style="list-style-type: decimal; background-color: transparent; vertical-align: baseline; margin-left: 24px; "><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">A multiple choice field.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_2701716298698190420.png"><br></p>
</li></ol><p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">After filling in the content or selecting the right selection we save the attribute. The added attribute can not be removed.</p>
<p></p>
