<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><span style="text-indent: 35.4pt; ">This functionality is assigned to users with author or expert privileges. An expert can perform the steps described in the material on all BIKS sites while an author has only the possibility to add and remove associations added from his account.</span></p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Let's get to the associations panel. In the lower right corner of the panel there is an icon for <i>adding associations</i>. It is on each of the BIKS tabs except MY BIKS and the search engine. With this icon we can create associations between any BIKS objects. <br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<blockquote><p><img src="fsb?get=file_2259989709457017299.png"><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 12.1. Exemplary view of the Knowledge Base module.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Clicking this button displays a window that contains the same structure of the tree panel as the module to which we want to add an association. Then we need to find the element we want to associate with the previously selected object. We can find the elements manually or use filtering. We select a definition by clicking the left mouse button on a blue square visible near it. The object name highlights in red, which means that a new association has been added but it is not yet saved. 
After saving a new association it is added in the associations panel. The association gives us the possibility to move freely between related elements, regardless of which one we're currently viewing.
<br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Let us analyze creating an association on the example of associating the Import report with a definition. First, select the report in the Library tab's tree panel. Then, select the <i>glossary tab</i> in the associations panel and click <i>add association</i>. A window with the rendition of the tree of the Glossary appears (Figure 11.2). We can see that the <i>Pharmaceutical line of business</i> folder is highlighted in blue. After expanding this node sub-folders are shown, two of them are also different from the others <i>(Pharmacology and Copyright)</i>. This means that the defined associations are inside these objects. The associated definitions are <i>The original medical product</i> and <i>Trademark</i>. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_7858988150616634127.png"><br></p>
    <p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 12.2. An exemplary view of an <i>add an association window</i>.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">We select the definition we want to associate by left clicking on the blue square visible near it (Figure 12.3). The name of the object highlights in red, which means that a new association has been added, but it is not yet saved. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">After saving a new association is added in the associations panel. The association gives us the opportunity to move freely between associated elements, regardless of which one we're currently viewing. We can add a number of new associations, change or delete others at one time. Names of added and modified definitions highlight in red and icons appear in the blue checkbox next to the definition (Figure 12.3).</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">&nbsp;&nbsp;</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_9092106840652749669.png"><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 12.3. An exemplary view of an add an association window.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Explanation of all icons and ways of displaying the names of objects are available under the help button (Figure 12.4)</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">&nbsp;&nbsp;</p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_926981779669492461.png"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 12.4. An exemplary view of the help window.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">After selecting the desired associations we save the changes. Associations are added to the associations panel immediately.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Another example of an association is associating a user with another BIKS object. In order to choose a user we need to start from the<i> BI Society</i> tab. Associating a user with another element requires determining the role that the user accepts against the item first. We then select the user we want to associate from the list of users and click add association. The application then asks us to select the type and sort of the association (Figure 11.5). The user may be <i>A Specialist, A Sponsor, An expert</i> or may be <i>responsible for a given element.</i> After choosing the role we proceed to choose the type of association. The association can be of two types:<i> Primary</i> or <i>Auxiliary</i>. When choosing the <i>Primary</i> type of association we have to define sub-options assigned to those kinds of associations.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_233881372375386719.png"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 12.5. Type and sort of association selection window.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p dir="ltr" style="text-align: center; margin-top: 0pt; margin-bottom: 0pt; "> </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">This allows us to manage roles of other users assigned to that definition. A detailed description of these options can be found by clicking on the <i>Help</i> icon. After defining the role and type of association we click <i>next</i>. Remaining steps proceed as in the previously discussed case.</p>
<p></p>
