<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">This material shows how to perform an impact and dependency analysis using BI Knowledge System.</p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><b>Impact analysis</b></p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The impact analysis is useful when we make changes to source data.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Any change made to source data has impact on elements that are based on that data. These may include e.g. universes and reports.</p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">For example let's suppose we make a change in any of the database tables. In this case it is necessary to know how many universes and reports will the change of the table affect. </p>
<p dir="ltr" style="text-align: left; margin-top: 0pt; margin-bottom: 0pt;">We begin from finding the table that we are going to modify. Then we enter the name of our table (e.g.Sales) in the <i>Library</i> -> <i>Database</i> tab (Figure 6.1). Then, we select the table. In the properties panel we see <i>show SQL</i> icon through which we can view the contents of the SQL query and in the associations panel in the Library tab we can conclude that the modification of this table will affect two universes and eight reports.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "> <img src="fsb?get=file_4834933759343140039.png"><span style="text-align: center; "><br></span></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><span style="text-align: center; ">Figure 6.1. An example of impact analysis.</span></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><span style="text-align: center; "><br></span></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">After narrowing the view using checkboxes we get specific information on which reports and universe it will be. We can also see detailed information about the selected item, go to it or end the analysis at this stage.</p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><b>Dependency analysis</b></p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">We perform a dependency analysis when we need knowledge on the relationships between individual elements. </p>
<p dir="ltr" style="text-align: left; margin-top: 0pt; margin-bottom: 0pt;">For example, we want to know from which tables and definition our report is dependant. First, we look for the report whose dependencies we want to analyse. Then, in the associations panel we filter by the desired elements. We can see that it depends on three tables in the database (Figure 6.2). To see what definition it depends on we need to go to the <i>Glossary</i> tab.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_6928169107420198419.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 6.1. Sample analysis of dependencies.</p>
</blockquote><p></p>
