<p>BI Knowledge System is a tool that allows mangement of knowledge associated with Business Intelligence systems. </p>

<p></p>

<p></p>

<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The software consists of six modules arranged in tabs. (Figure 1.1).</p>

<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>


<p></p>

<div align="center"><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_721498659056413611.png"><br></p>


    <blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.1. BI Knowledge System tabs.</p>

    </blockquote></div>
<p></p>


<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><b>
        <i>My BIKS </i> </b>module (Figure 1.2) is responsible for user personalization and includes a logged on user's individual data.</p>


<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>


<p></p>

<p></p>

<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_2117911334507805228.png"><br></p>


<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.2. Exemplary view of <i>My BIKS</i> module.</p>

</blockquote>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><b><i>Library </i></b>module.</p>
<p></p>
<p></p>

<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Most of the BI Knowledge System application modules look just like this. The left side of the screen is a, so called, tree panel which contains the structure of folders (Figure 1.3).</p>

<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>

<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "> <img src="fsb?get=file_2635585063280849574.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.3. Exemplary view of BI Knowledge System tree panel.</p>
</blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The right side is divided into two parts. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The upper part makes the properties panel (Figure 1.4).</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_2976391287963252081.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.4. Exemplary view of BI Knowledge System properties panel.</p>
</blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The lower part - association panel (Figure 1.5).</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br> </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_3948927694432622596.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.5. Exemplary view of BI Knowledge System association panel</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The <i>Library </i>module functions as a metadata repository. It contains metadata from external data sources such as reporting systems and data warehouses.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The application is flexible and it’s possible to develop available components. The <i>DQC</i> tab which contains quality tests and reports updates is an example of such development.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Selecting an object in the tree panel displays information involving the name and attributes of the selected object in the properties panel (Figure. 1.4). The upper right corner of the properties panel contains icons for previewing descriptions, issuing positive or negative evaluation of the viewed content, generating links to the previewed view and the addition of the selected object to your favourites list. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The association panel (Figure 1.5) displays all defined connections or relationships between the selected node and other objects located in the BI Knowledge System. For example <i>Market Analysis</i> report relies on three definitions in the <i>Glossary module</i>.</p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The <i><b>Glossary </b></i>module (Figure 1.6) is a glossary of terms used in the corporation. It’s tree panel consists of folders grouping definitions which are represented by a book icon.</p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_4110265429617590639.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.6. Exemplary view of BI Knowledge System <i>Glossary</i> module.</p>
    <p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The <i><b>Knowledge Base</b></i> module includes practical knowledge related to company activity which can be contained in a document repository. The repository contains articles (marked with the letter <i>A</i>), text files, excel files, pdf files and other formats (Figure 1.7). </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_4027897527534158886.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.7. Exemplary view of BI Knowledge System <i>Knowledge Base Documentation </i> module tree panel.</p>
</blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The knowledge contained in the BI Knowledge System can be ordered freely using categorization. Icons shown in Figure 1.8  are business areas to which other elements of the BI Knowledge System (for example: earlier discussed reports, articles or definitions) are linked.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_6415667199040655208.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.8. Exemplary view of BI Knowledge System <i>Knowledge Base Categorization</i> module tree panel.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The next tab is the <b><i>BI community</i></b> management module. It provides a layer of communication between users. This is where a user can keep track of expert blogs (Figure 1.9). </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "> <img src="fsb?get=file_3274573943471788358.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.9. Exemplary view of BI Knowledge System BI <i>Community Blogs</i> module.</p>
</blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The module also contains business information and contact details of all users of the system and presents their assignment to specific groups (Figure 1.10).</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_4182576243418955294.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.10. Exemplary view of BI Knowledge System BI <i>Community Users</i> module.</p>
</blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The last module is the Search Engine. It is slightly different than the other tabs (Figure 1.11) and allows for searching through items in the BI Knowledge System application.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "> <br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_1249694903457633910.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.11. Exemplary view of the <i>Search</i> tab.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Each tab has a help buton which when pressed displays a help window with a description of the current tab (Figure 1.12).</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "> <img src="fsb?get=file_5116687448430065016.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 1.12. Exemplary view of the <i>Search</i> tab.</p>
</blockquote><p></p>
