<p></p>
<p>This material explains how link elements. Linking elements in BIKS functions in two places. The first place is a <i>Categorization tab</i> in the <i>Knowledge Base module</i> where you can link an item to existing business areas. The second place is the <i>Users tab</i> in the <i>BI Society module</i>. This functionality allows linking a user to selected functional groups.</p>
<p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><b>Linking categorizations</b></p>
<p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">In order to link an element to an existing area you must use the add link command which displays an add links window (Figure 9.1). The window shows the structure of all BIKS areas. At this point the item you want to assign to the selected area should be pointed. You can find it by clicking on the tree or using filtering options. Each element may be linked to several business areas or may not occur in any of them.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "> <img src="fsb?get=file_8843591372194217517.png"><br></p>
    <p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Figure 10.1. Exemplary view of the <i>Knowledge Base</i> module.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">The <i>go to original</i> option takes us to the source location of this element in BIKS where we are able to edit information and delete items. Deleting the original will remove the login from anywhere it is linked while removing the element from a business area works only within a given area.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_944689372123618294.png"><br></p>
    <p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Figure 10.2. Using the <i>Go to original</i> option.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><b>Linking users</b></p>
<p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Users are linked with the assigne to <i>group command</i> (Figure 9.3). In the <i>add a link window</i> you need to specify the user you want to assign to the selected group. You can find him on the list of users or choose from one of the groups. Each user can be linked to several groups or may not appear in any.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br> </p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_1800774126066880125.png"><br></p>
    <p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Figure 10.3. Assigning users to groups.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">The <i>Go to original</i> option takes you to a list of users where you are able to edit and delete user information (Figure 9.4). Deleting the original will remove login from any location where it is linked while removing the user from a group works only within the group.</p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_6795477607094489301.png"><br></p>
    <p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Figure 10.4. Using the <i>Go to original</i> option.</p>
</blockquote><br><p></p>
