<p></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">This material describes functionalities available in <i>My BIKS module</i>.</p>
<p></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><i>My BIKS</i> startup view allows insight into items marked as favorites (Figure 2.1). The order of items in the list is determined by the date individual elements were added.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><img src="fsb?get=file_591179126895182485.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Fig. 2.1. Exemplary <i>My BIKS</i> module startup view.</p>
    <p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
</blockquote><p></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">If the content of one of your favorite sites changes the application informs you about it. Objects within which the change occurred are at the beginning of the list of Favorites. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_2399200714291124745.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 2.2. Exemplary view of favourite objects in <i>My BIKS</i> module.</p>
    <p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Title of the modified object is marked in bold and information if an item was added, modified, or removed from this object can be found in parenthesis next to it. Clicking on the gray arrow displays details of the modification..
By pressing the GO TO button marked by green arrows we can go to the place in the application where the modified object is located and see changes that have occurred in it. You can also preview the changes useing the magnifying glass icon. You can narrow the view to only those objects that have been modified. You can also immediately mark all items as read (Figure 2.2).
</p>
<p></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Other features of the <i>My BIKS</i> tab are available in the panel on the left side of the screen (Figure 2.3).</p>
<p></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_695995149653057555.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig.2.3. Functionalities of <i>My BIKS</i> tab.</p>
    <p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">These include reading news posted by the administrator (Figure 2.4). New, unread news is marked with a <i>New</i> in red lettering and the title is in bold.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_4957577705642414.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 2.4. Exemplary view of <i>My BIKS</i> module - News.</p>
    <p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><i>My BIKS</i> also allows to trace the history of viewed objects, view their comments and reviews. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><i>Data Edition</i> functionality is used to change the password and to enter and change the avatar (Figure 2.5).</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_46256438273299643.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 2.5. View of the <i>Data Edition</i> functionality.</p>
</blockquote><p></p>
