<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">This material describes the main principles of navigating through the BI Knowledge System. It describes the navigation between objects in different modules and presents each tab's functionalities.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Navigating through objects in most BI Knowledge System modules is similar. You move through the tree panel by useing a drop-down structure of objects visible in the panel.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">In the <i>Library</i> tab you navigate through the drop-dowm structure of metadata from reporting systems, data warehouses and <i>DQC</i> tabs.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The <i>Glossary</i> Module contains definitions of terms used in a corporation. Let's look at the definitions given in the <i>Banking</i> folder (Figure 4.1).  Corporate definitions are marked in blue. Red tells us about the lack of corporate definition for a term, but after expanding the node we see that there is a working definition for it. Corporate definitions may also have sub-versions e.g. <i>departmental</i>.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_4626611914712451385.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 4.1. Definition symbols/icons in the <i>Glossary module.</i></p>
</blockquote><p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The <i>Knowledge Base</i> module in addition to articles and documents is also categorization. An example of such categorization may be an organizational structure of a company to which other BI Knowledge System elements are linked. The linked elements are a shortcut to individual objects. This allows you to store a single object in several structures. Clicking on the link will display information about the linked object in the properties and <i>Knowledge Base</i> connections panels. We can also use a <i>go to original</i> command available under the mouse's right-click (Figure 4.2). This functionality takes us to the place in application where the object is located.<br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br> </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_5617052295874371910.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 4.2. An exemplary view of the <i>Knowledge Base module.</i></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Let's go to the <i>Glossary</i> tab and look at the properties panel. It shows information about the currently selected object. By using the drop-down button you can increase the area of the properties panel making it easier to browse its displayed contents (Figure 4.3). Pressing the drop-down button again takes you back to the previous view.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><strike><img src="fsb?get=file_1314330186371209212.png"></strike><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 4.3. An exemplary view of the <i>Glossary</i> module.</p>
</blockquote><p dir="ltr" style="text-align: justify; margin-top: 0pt; margin-bottom: 0pt; "> </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Clicking on the magnifying glass placed in the upper right corner of the properties panel allows you to view the description of the object. Remaining icons feed the list of objects displayed in the <i>My BIKS</i> tab. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">In the case of a BI report an additional <i>Open in SAP BO</i> icon appears in the properties panel (Figure 4.4). It allows users with the appropriate permissions to open the report on a BusinessObjects platform.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_934442184500741669.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 4.4. An exemplary view of the <i>Library</i> module.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Let's go to the <i>Knowledge Base</i> module. The contents of most objects are displayed in the properties panel immediately after you select an object in the tree panel but to see the content of a desired document you have to click on the <i>view document</i> icon (Figure 4.5) which takes us to the content of the selected document.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_2667409129821720156.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 4.5. Exemplary view of the <i>Knowledge Base</i> module.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The associations panel allows free movement between tabs and their arbitrary switching. Each tab contains a list of objects associated with the element selected in the tree (Fig. 4.6).</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">For example, for the <i>market analysis</i> report the <i>Library</i> tab presents:</p>
<p></p>
<p></p>
<ul><li>database schema </li>
    <li>individual tables that contain report data, </li>
    <li>the universe on which the inquiries were built</li>
    <li>the connection which the report uses to connect with the data base. </li>
</ul><p><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_1721596858429561559.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 4.6. Exemplary view of the association panel.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The <i>BI Society Users</i> tab allows us to find out who is responsible for the content of this report or who is an expert or specialist in this field.  </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The last tab are <i>comments</i>. This tab allows you to view posted comments and add new comments to the read content (Figure 4.6). You add comments by clicking on the <i>add comments</i> icon. When a dialog box appears you enter the title and content of the comment you want to add. After completing these fields changes have to be saved. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "> <img src="fsb?get=file_1677071176514219986.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 4.7. Exemplary view of the <i>Library</i> module.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The added comment appears in the tab. The pencil icon allows you to edit comments and clicking on the trash icon will delete the entry. Keep in mind that you can edit and delete only your own comments.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p></p>
