<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Searching for elements in Knowledge System BI application is done using the <i>Search</i> tab. To find an object simply type the desired sequence of characters in the search field. The search engine returns all objects in the system which have the requested string in their name, description, attributes or content. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">For example (Figure 3.1) typeing <i>services</i> as a search string returns 22 results.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "> <img src="fsb?get=file_258602651074562753.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 3.1. Exemplary view of the <i>Search</i> tab.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">There can be up to 20 objects on a sigle page. Moving between the pages is done by clicking arrows in desired direction. We can also manage the view of search results by unchecking or checking selected checkboxes. It is a function which allows limiting the view.</p>
<p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The tree panel gives us the possibility to limit our search (Figure 3.2). It contains the structure of objects in the BI Knowledge System which allows you to search within the context of each object in the application. The sequence of characters entered in the search field will be searched only in those modules whose checkboxes are checked.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_4329481256905337962.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 3.2. Filtering search terms.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Searching for the term <i>import</i> in all BI Knowledge System modules returns 13 elements. After searching for it only in reports the search is limited to one report.  Searching the <i>Glossary</i> (Figure 3.3) displays only those results that are in the selected area.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_952796681054714999.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 3.3. Exemplary view of the <i>Search</i> tab.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Next, let's look at how to enter characters in the search box. For example, entering the term "analysis" returns 23 records that match the search conditions. Adding an additional term to the search field e.g <i>market</i> narrows the search to 14 elements which in their titles or content have the words <i>market</i> and <i>analysis</i> (Figure 3.4).</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_5478699526871258296.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Fig. 3.4. Exemplary view of the <i>Search</i> tab.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Typing the terms in quotes narrows the search even more. Only items containing the complete phrase: "market analysis" will be displayed. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Typing an asterisk "*" in the search field  replaces any number of characters. All objects in the BI Knowledge System will be shown. By using filters (checkboxes) all objects of the selected type can be shown. This allows us to count the number of reports or universes easily.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">The application also enables you to filter data displayed in the tree panel. Filtering works the same way on all tabs. </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_5424909523394251327.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Figure 3.5. Filtering data displayed in the tree panel on the example of the <i>Glossary</i>.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; "><br></p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; ">Just enter the desired string in the search field at the bottom of the tree panel then press filter. This will narrow the view to folders that contain objects that meet the filter conditions. Clicking on the <i>Clear all</i> icon takes us back to the startup view.</p>
<p></p>
