<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Modifying the BI Knowledge System modules is possible with options available under mouse's right-click and icons available in this version of permissions.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">A right-click on the name of the report while in the <i>Library</i> tab allows you to enter or modify an existing description of the item. </p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">You can change the name of an item, edit the description or add a new directory in the same way while in the Glossary tab. The <i>green plus</i> at the bottom of the tree panel allows you to add an item to the highest level of the tree. You can add definitions to existing folders. Clicking the <i>Add definition</i> option shows a window where you enter the title of the new definition and its content (Figure 8.1). A detailed description of the text editor's functionalities can be found in <i>BI Knowledge System - Creating and editing definitions</i> material. After filling in these elements you need to determine <i>the version of the definition.</i>  </p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">For the created definitions you can add different versions using the right mouse button. The title of the version is completed automatically. It is only necessary to fill in the content and choose the version of the definition. Once the changes are approved a message that tells us under what business term the definition will be added appears, if everything is correct, the message should be approved. </p>
A user with <i>expert</i> rank can manage the display order of elements in the list. Options such as <i>Move up, Move to top, Move down, Move to bottom or Sort alphabetically</i> are used for that (Figure 8.1). Options available under the right mouse click enable you to <i>cut</i> elements from one tree location and <i>paste</i> them to another as well as <i>delete</i> tree items. <p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_466508107012903056.png"><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Figure 9.1. Exemplary view of the <i>Glossary</i> module.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Managing the <i>Knowledge Base</i> tab is similar. You can add <i>articles</i> in the same way as definitions, except that articles do not have versions. An additional functionality here is <i>adding documents</i> (Figure 8.2). Documents are added by searching the the disk space. The loaded file is automatically saved on the BIKS server.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><br></p>
<blockquote><p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; "><img src="fsb?get=file_3124683827742223719.png"><br></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">Figure 9.2. Exemplary view of the <i>Knowledge Base</i> module.</p>
</blockquote><p></p>
<p></p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">In the <i>Categorization</i> tab you can create business areas and assign them to other elements of any BIKS module. We can expand the tree structure by adding to existing areas more business sub-areas. We can link elements to existing areas by clicking on <i>add link</i>. This functionality is shown in <i>BI Knowledge System - linking elements</i> movie tutorial.</p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">The <i>BI Society</i> module allows <i>expert blogging</i>. Blog entries are added just like definitions. Users can add entries to blogs which they are authors of. Each blog can have multiple authors. </p>
<p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; ">The <i>BI Society</i> tab allows also managing system users. We can create groups and function sub-groups and assign users to them. We link users using the assign to group command. This functionality is shown in the <i>BI Knowledge System - linking elements</i> movie tutorial. </p>
<p></p>
