<p align="left"></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">This material presents practical exercises. It shows solutions to various problems with the BI Knowledge System application on the example of specific use cases.</p>
<p dir="ltr" style="text-align: justify; margin-top: 0pt; margin-bottom: 0pt; " align="left"> </p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Let's assume that we need to know which universe a report is based on. Let's find this information for <i>OFE</i> report as an example. </p>
<p align="left"></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">The question can be answered in several ways by using BIKS.</p>
<p align="left"></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Reports come from the BI platform so their metadata are in the <i>Library</i> tab. Therefore let's filter the tab's tree panel and locate the desired report. The <i>OFE</i> report is now displayed in the tree panel. We now select the report and move on to analyse the links panel. Universe is the element we search for. Information on universes in the BI Knowledge System is also are arranged in the Library tab. Therefore we need to open the Library tab in the associations panel. This will show us a list of all objects in the tab associated with the <i>OFE</i> report. Since we are looking only for the universe we have to uncheck all checkboxes and select only universes. <i>eFashion</i> universe is the result of our search.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><img src="fsb?get=file_3261276149311785744.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Figure 5.1. Searching for associations between a universe and a report.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
</blockquote><p align="left"></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Another way to find the <i>OFE</i> report's universe is the search engine (Figure 5.2). First we search for the report. We check the report checkbox in the tree panel. With this selection only reports will be searched. We enter <i>OFE</i> in the search box and press the search button. Our search result is the required report. By using the preview icon we display the report's details (description and associations). Next we proceed as in the previous case. We can also go to the place where the report is located and follow the same steps. Such steps can also answer other questions.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><img src="fsb?get=file_8037105180868049910.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Figure 5.2. Searching for a report and its dependence on universe.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
</blockquote><p align="left"></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">For example: which business definition does this report concern or who is the person responsible for this report. By expanding the node in the tree panel you get information on objects which make up the query (Figure 5.3).</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><img src="fsb?get=file_6954196202339410245.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Figure 5.2. An exemplary view of the <i>Library</i> tab's tree panel.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
</blockquote><p align="left"></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Another information we may need is information on how many reports support a given business process. Business processes are defined in the <i>Knowledge Base</i>. Therefore we go to <i>Knowledge Base</i> -> <i>Categorization</i> -> <i>Business Processes</i> tab. Let's search for the production process. It is supported by two reports.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><img src="fsb?get=file_7335017106467420572.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Rys. 5.4. Wyszukiwanie zależności między procesem produkcji i raportami.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
</blockquote><p align="left"></p>
<p align="left"></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Now, let's suppose that we had read the document and we want to contact the person who is responsible for its contents. We go to the <i>Knowledge Base</i> -> <i>Documentation</i> tab and look for our document. Next, we choose the document we are interested in from the list of items and click on the <i>BI Society</i> -> <i>Users</i> tab in the associations panel. The person responsible for the document is <i>John Smith</i>.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><img src="fsb?get=file_683670160096150487.png"><br></p>
<blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">Figure 5.5. Searching for a person responsible for a given document.</p>
<p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left"><br></p>
</blockquote><p dir="ltr" style="text-align: left;margin-top: 0pt; margin-bottom: 0pt; " align="left">If we go to information on the user contact information and other business information will be displayed. Furthermore, by going to the <i>Knowledge Base Documentation</i> tab in the associations panel we can view a list of all documents for which John Smith is responsible.</p>
<p align="left"></p>
